{"swagger":"2.0","info":{"description":"ONAP Portal API Documentation","version":"1.2.6","title":"ONAP Portal API Documentation","termsOfService":"http://terms-of-services.url","license":{"name":"LICENSE","url":"http://url-to-license.com"}},"host":"portal.api.simpledemo.onap.org:8989","basePath":"/ONAPPORTAL","tags":[{"name":"scheduler-controller","description":"Scheduler Controller"},{"name":"external-apps-restful-controller","description":"External Apps Restful Controller"},{"name":"external-access-roles-controller","description":"External Access Roles Controller"},{"name":"session-communication-controller","description":"Session Communication Controller"},{"name":"web-analytics-ext-app-controller","description":"Web Analytics Ext App Controller"},{"name":"policy-controller","description":"Policy Controller"},{"name":"shared-context-rest-controller","description":"Shared Context Rest Controller"},{"name":"apps-controller-external-request","description":"Apps Controller External Request"},{"name":"ticket-event-controller","description":"Ticket Event Controller"},{"name":"roles-approval-system-controller","description":"Roles Approval System Controller"}],"paths":{"/auxapi/activeRoles":{"get":{"tags":["external-access-roles-controller"],"summary":"Gets active roles for an application.","operationId":"getActiveRolesUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CentralRole"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/auxapi/analytics":{"get":{"tags":["web-analytics-ext-app-controller"],"summary":"Gets javascript with functions that support gathering and reporting web analytics.","operationId":"getAnalyticsScriptUsingGET","consumes":["application/json"],"produces":["application/javascript"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/auxapi/context/check":{"get":{"tags":["shared-context-rest-controller"],"summary":"Tests for presence of the specified key in the specified context.","operationId":"checkContextUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"context_id","in":"query","description":"context_id","required":true,"type":"string"},{"name":"ckey","in":"query","description":"ckey","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SharedContextJsonResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/auxapi/context/clear":{"get":{"tags":["shared-context-rest-controller"],"summary":"Clears all key-value pairs in the specified context.","operationId":"clearContextUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"context_id","in":"query","description":"context_id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SharedContextJsonResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/auxapi/context/get":{"get":{"tags":["shared-context-rest-controller"],"summary":"Gets a value for the specified context and key.","operationId":"getContextUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"context_id","in":"query","description":"context_id","required":true,"type":"string"},{"name":"ckey","in":"query","description":"ckey","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SharedContext"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/auxapi/context/get_user":{"get":{"tags":["shared-context-rest-controller"],"summary":"Gets user information for the specified context.","operationId":"getUserContextUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"context_id","in":"query","description":"context_id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SharedContext"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/auxapi/context/remove":{"get":{"tags":["shared-context-rest-controller"],"summary":"Removes the specified key in the specified context.","operationId":"removeContextUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"context_id","in":"query","description":"context_id","required":true,"type":"string"},{"name":"ckey","in":"query","description":"ckey","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SharedContextJsonResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/auxapi/context/set":{"post":{"tags":["shared-context-rest-controller"],"summary":"Sets a context value for the specified context and key. Creates the context if no context with the specified ID-key pair exists, overwrites the value if it exists already.","operationId":"setContextUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"userJson","description":"userJson","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SharedContextJsonResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/auxapi/deleteDependcyRoleRecord/{roleId}":{"delete":{"tags":["external-access-roles-controller"],"summary":"deletes user roles for an application.","operationId":"deleteDependencyRoleRecordUsingDELETE","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"roleId","in":"path","description":"roleId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PortalRestResponse"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/auxapi/deleteRole/{code}":{"delete":{"tags":["external-access-roles-controller"],"summary":"Deletes role for an application.","operationId":"deleteRoleUsingDELETE","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"code","in":"path","description":"code","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PortalRestResponse"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/auxapi/extendSessionTimeOuts":{"post":{"tags":["session-communication-controller"],"summary":"Extends session timeout values for all on-boarded applications.","operationId":"extendSessionTimeOutsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"sessionMap","in":"query","description":"sessionMap","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"boolean"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/auxapi/function/{code}":{"get":{"tags":["external-access-roles-controller"],"summary":"Gets role information for an application provided by function code.","operationId":"getRoleFunctionUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"code","in":"path","description":"code","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CentralRoleFunction"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/auxapi/functionalMenuItemsForUser":{"get":{"tags":["external-apps-restful-controller"],"summary":"getFunctionalMenuItemsForUser","operationId":"getFunctionalMenuItemsForUserUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/FunctionalMenuItem"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/auxapi/functions":{"get":{"tags":["external-access-roles-controller"],"summary":"Gets all role functions for an application.","operationId":"getRoleFunctionsListUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CentralRoleFunction"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/auxapi/getFavorites":{"get":{"tags":["external-apps-restful-controller"],"summary":"getFavoritesForUser","operationId":"getFavoritesForUserUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/FavoritesFunctionalMenuItemJson"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/auxapi/getSessionSlotCheckInterval":{"get":{"tags":["session-communication-controller"],"summary":"Gets session slot-check interval, a duration in milliseconds.","operationId":"getSessionSlotCheckIntervalUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"integer","format":"int32"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/auxapi/get_policy":{"post":{"tags":["policy-controller"],"summary":"getPolicyInfo","operationId":"getPolicyInfoUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"policy_request","description":"policy_request","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/auxapi/get_time_slots/{scheduler_request}":{"get":{"tags":["scheduler-controller"],"summary":"getTimeSlots","operationId":"getTimeSlotsUsingGET","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"scheduler_request","in":"path","description":"scheduler_request","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/auxapi/menuFunctions":{"get":{"tags":["external-access-roles-controller"],"summary":"Gets all functions along with global functions","operationId":"getMenuFunctionsUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"object"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/auxapi/onboardApp":{"post":{"tags":["apps-controller-external-request"],"summary":"Adds a new application to Portal.","operationId":"postOnboardAppExternalUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"newOnboardApp","description":"newOnboardApp","required":true,"schema":{"$ref":"#/definitions/OnboardingApp"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PortalRestResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/auxapi/onboardApp/{appId}":{"get":{"tags":["apps-controller-external-request"],"summary":"Gets the specified application that is on-boarded in Portal.","operationId":"getOnboardAppExternalUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"appId","in":"path","description":"appId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/OnboardingApp"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["apps-controller-external-request"],"summary":"Updates information about an on-boarded application in Portal.","operationId":"putOnboardAppExternalUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"appId","in":"path","description":"appId","required":true,"type":"integer","format":"int64"},{"in":"body","name":"oldOnboardApp","description":"oldOnboardApp","required":true,"schema":{"$ref":"#/definitions/OnboardingApp"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PortalRestResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/auxapi/portalAdmin":{"post":{"tags":["apps-controller-external-request"],"summary":"Creates a new user as a Portal administrator.","operationId":"postPortalAdminUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"epUser","description":"epUser","required":true,"schema":{"$ref":"#/definitions/EPUser"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PortalRestResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/auxapi/post_create_new_vnf_change":{"post":{"tags":["scheduler-controller"],"summary":"postCreateNewVNFChange","operationId":"postCreateNewVNFChangeUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"scheduler_request","description":"scheduler_request","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/auxapi/role":{"post":{"tags":["external-access-roles-controller"],"summary":"Saves role for an application.","operationId":"saveRoleUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"role","description":"role","required":true,"schema":{"$ref":"#/definitions/Role"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PortalRestResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/auxapi/role/{role_id}":{"get":{"tags":["external-access-roles-controller"],"summary":"Gets role information for an application.","operationId":"getRoleInfoUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"role_id","in":"path","description":"role_id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CentralRole"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/auxapi/roleFunction":{"post":{"tags":["external-access-roles-controller"],"summary":"Saves role function for an application.","operationId":"saveRoleFunctionUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"roleFunc","description":"roleFunc","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PortalRestResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/auxapi/roleFunction/{code}":{"delete":{"tags":["external-access-roles-controller"],"summary":"Deletes role function for an application.","operationId":"deleteRoleFunctionUsingDELETE","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"code","in":"path","description":"code","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PortalRestResponse"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/auxapi/roles":{"get":{"tags":["external-access-roles-controller"],"summary":"Gets roles for an application.","operationId":"getRolesForAppUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CentralRole"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/auxapi/storeAnalytics":{"post":{"tags":["web-analytics-ext-app-controller"],"summary":"Accepts data from partner applications with web analytics data.","operationId":"storeAnalyticsScriptUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"analyticsMap","description":"analyticsMap","required":true,"schema":{"$ref":"#/definitions/Analytics"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PortalAPIResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/auxapi/submit_vnf_change_timeslots":{"post":{"tags":["scheduler-controller"],"summary":"postSubmitVnfChangeTimeslots","operationId":"postSubmitVnfChangeTimeslotsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"scheduler_request","description":"scheduler_request","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/auxapi/ticketevent":{"post":{"tags":["ticket-event-controller"],"summary":"Accepts messages from external ticketing systems and creates notifications for Portal users.","operationId":"handleRequestUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"ticketEventJson","description":"ticketEventJson","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PortalRestResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/auxapi/upload/partner/functions":{"post":{"tags":["external-access-roles-controller"],"summary":"Bulk upload functions for an partner application.","operationId":"bulkUploadPartnerFunctionsUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"upload","description":"upload","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/RoleFunction"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PortalRestResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/auxapi/upload/partner/roleFunctions":{"post":{"tags":["external-access-roles-controller"],"summary":"Bulk upload role functions for an partner application.","operationId":"bulkUploadPartnerRoleFunctionsUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"upload","description":"upload","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Role"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PortalRestResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/auxapi/upload/partner/roles":{"post":{"tags":["external-access-roles-controller"],"summary":"Bulk upload roles for an partner application.","operationId":"bulkUploadPartnerRolesUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"upload","description":"upload","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/Role"}}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PortalRestResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/auxapi/upload/portal/functions":{"post":{"tags":["external-access-roles-controller"],"summary":"Bulk upload functions for an application.","operationId":"bulkUploadFunctionsUsingPOST","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PortalRestResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/auxapi/upload/portal/roleFunctions":{"post":{"tags":["external-access-roles-controller"],"summary":"Bulk upload role functions for an application.","operationId":"bulkUploadRoleFunctionsUsingPOST","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PortalRestResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/auxapi/upload/portal/roles":{"post":{"tags":["external-access-roles-controller"],"summary":"Bulk upload roles for an application.","operationId":"bulkUploadRolesUsingPOST","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PortalRestResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/auxapi/upload/portal/userRoles":{"post":{"tags":["external-access-roles-controller"],"summary":"Bulk upload user roles for an application.","operationId":"bulkUploadUserRolesUsingPOST","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PortalRestResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/auxapi/user/{loginId}":{"get":{"tags":["external-access-roles-controller"],"summary":"Gets user role for an application.","operationId":"getUserUsingGET","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"loginId","in":"path","description":"loginId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/auxapi/userProfile":{"post":{"tags":["roles-approval-system-controller"],"summary":"Creates an application user with the specified roles.","operationId":"postUserProfileUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"extSysUser","description":"extSysUser","required":true,"schema":{"$ref":"#/definitions/ExternalSystemUser"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PortalRestResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["roles-approval-system-controller"],"summary":"Updates an application user to have only the specified roles.","operationId":"putUserProfileUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"extSysUser","description":"extSysUser","required":true,"schema":{"$ref":"#/definitions/ExternalSystemUser"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PortalRestResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["roles-approval-system-controller"],"summary":"Processes a request to delete one or more application roles for one\tspecified user who has roles.","operationId":"deleteUserProfileUsingDELETE","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"extSysUser","description":"extSysUser","required":true,"schema":{"$ref":"#/definitions/ExternalSystemUser"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PortalRestResponse"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/auxapi/users":{"get":{"tags":["external-access-roles-controller"],"summary":"Gets all active Users of application","operationId":"getUsersOfApplicationUsingGET","consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}}},"definitions":{"Analytics":{"type":"object","properties":{"action":{"type":"string"},"function":{"type":"string"},"page":{"type":"string"},"type":{"type":"string"},"userid":{"type":"string"}}},"AppContactUs":{"type":"object","properties":{"activeYN":{"type":"string"},"app":{"$ref":"#/definitions/EPApp"},"auditTrail":{"type":"array","items":{"type":"object"}},"auditUserId":{"$ref":"#/definitions/Serializable"},"contactEmail":{"type":"string"},"contactName":{"type":"string"},"created":{"type":"string","format":"date-time"},"createdId":{"type":"integer","format":"int64"},"description":{"type":"string"},"id":{"type":"integer","format":"int64"},"modified":{"type":"string","format":"date-time"},"modifiedId":{"type":"integer","format":"int64"},"rowNum":{"type":"integer","format":"int64"},"url":{"type":"string"}}},"CentralRole":{"type":"object","properties":{"active":{"type":"boolean"},"childRoles":{"type":"array","items":{"$ref":"#/definitions/CentralRole"}},"created":{"type":"string","format":"date-time"},"createdId":{"type":"integer","format":"int64"},"id":{"type":"integer","format":"int64"},"modified":{"type":"string","format":"date-time"},"modifiedId":{"type":"integer","format":"int64"},"name":{"type":"string"},"parentRoles":{"type":"array","items":{"$ref":"#/definitions/CentralRole"}},"priority":{"type":"integer","format":"int32"},"roleFunctions":{"type":"array","items":{"$ref":"#/definitions/CentralRoleFunction"}},"rowNum":{"type":"integer","format":"int64"}}},"CentralRoleFunction":{"type":"object","properties":{"auditTrail":{"type":"array","items":{"type":"object"}},"auditUserId":{"$ref":"#/definitions/Serializable"},"code":{"type":"string"},"created":{"type":"string","format":"date-time"},"createdId":{"type":"integer","format":"int64"},"editUrl":{"type":"string"},"id":{"type":"integer","format":"int64"},"modified":{"type":"string","format":"date-time"},"modifiedId":{"type":"integer","format":"int64"},"name":{"type":"string"},"rowNum":{"type":"integer","format":"int64"}}},"EPApp":{"type":"object","properties":{"alternateUrl":{"type":"string"},"appPassword":{"type":"string"},"appRestEndpoint":{"type":"string"},"appType":{"type":"integer","format":"int32"},"auditTrail":{"type":"array","items":{"type":"object"}},"auditUserId":{"$ref":"#/definitions/Serializable"},"centralAuth":{"type":"boolean"},"contactUs":{"$ref":"#/definitions/AppContactUs"},"created":{"type":"string","format":"date-time"},"createdId":{"type":"integer","format":"int64"},"description":{"type":"string"},"enabled":{"type":"boolean"},"id":{"type":"integer","format":"int64"},"imageUrl":{"type":"string"},"mlAppAdminId":{"type":"string"},"mlAppName":{"type":"string"},"modified":{"type":"string","format":"date-time"},"modifiedId":{"type":"integer","format":"int64"},"motsId":{"type":"integer","format":"int64"},"name":{"type":"string"},"nameSpace":{"type":"string"},"notes":{"type":"string"},"open":{"type":"boolean"},"restrictedApp":{"type":"boolean"},"rowNum":{"type":"integer","format":"int64"},"thumbnail":{"type":"string","format":"byte"},"uebKey":{"type":"string"},"uebSecret":{"type":"string"},"uebTopicName":{"type":"string"},"url":{"type":"string"},"username":{"type":"string"}}},"EPRole":{"type":"object","properties":{"active":{"type":"boolean"},"appId":{"type":"integer","format":"int64"},"appRoleId":{"type":"integer","format":"int64"},"auditTrail":{"type":"array","items":{"type":"object"}},"auditUserId":{"$ref":"#/definitions/Serializable"},"childRoles":{"type":"array","items":{"$ref":"#/definitions/EPRole"}},"created":{"type":"string","format":"date-time"},"createdId":{"type":"integer","format":"int64"},"id":{"type":"integer","format":"int64"},"modified":{"type":"string","format":"date-time"},"modifiedId":{"type":"integer","format":"int64"},"name":{"type":"string"},"priority":{"type":"integer","format":"int32"},"roleFunctions":{"type":"array","items":{"$ref":"#/definitions/RoleFunction"}},"rowNum":{"type":"integer","format":"int64"}}},"EPUser":{"type":"object","properties":{"active":{"type":"boolean"},"address1":{"type":"string"},"address2":{"type":"string"},"addressId":{"type":"integer","format":"int64"},"alertMethodCd":{"type":"string"},"auditTrail":{"type":"array","items":{"type":"object"}},"auditUserId":{"$ref":"#/definitions/Serializable"},"businessCountryCode":{"type":"string"},"businessCountryName":{"type":"string"},"businessUnit":{"type":"string"},"businessUnitName":{"type":"string"},"cellular":{"type":"string"},"chatId":{"type":"string"},"city":{"type":"string"},"commandChain":{"type":"string"},"company":{"type":"string"},"companyCode":{"type":"string"},"costCenter":{"type":"string"},"country":{"type":"string"},"created":{"type":"string","format":"date-time"},"createdId":{"type":"integer","format":"int64"},"department":{"type":"string"},"departmentName":{"type":"string"},"email":{"type":"string"},"eproles":{"type":"array","items":{"$ref":"#/definitions/EPRole"}},"epuserApps":{"type":"array","items":{"$ref":"#/definitions/EPUserApp"}},"fax":{"type":"string"},"financialLocCode":{"type":"string"},"firstName":{"type":"string"},"guest":{"type":"boolean"},"hrid":{"type":"string"},"id":{"type":"integer","format":"int64"},"internal":{"type":"boolean"},"jobTitle":{"type":"string"},"lastLoginDate":{"type":"string","format":"date-time"},"lastName":{"type":"string"},"locationClli":{"type":"string"},"loginId":{"type":"string"},"loginPwd":{"type":"string"},"managerId":{"type":"integer","format":"int64"},"middleInitial":{"type":"string"},"modified":{"type":"string","format":"date-time"},"modifiedId":{"type":"integer","format":"int64"},"online":{"type":"boolean"},"orgCode":{"type":"string"},"orgId":{"type":"integer","format":"int64"},"orgManagerUserId":{"type":"string"},"orgUserId":{"type":"string"},"phone":{"type":"string"},"pseudoEPRoles":{"type":"array","items":{"$ref":"#/definitions/EPRole"}},"pseudoRoles":{"type":"array","items":{"$ref":"#/definitions/EPRole"}},"roles":{"type":"array","items":{"$ref":"#/definitions/Role"}},"rowNum":{"type":"integer","format":"int64"},"selectedProfileId":{"type":"integer","format":"int64"},"siloStatus":{"type":"string"},"state":{"type":"string"},"timeZoneId":{"type":"integer","format":"int64"},"userApps":{"type":"array","items":{"type":"object"}},"zipCode":{"type":"string"},"zipCodeSuffix":{"type":"string"}}},"EPUserApp":{"type":"object","properties":{"app":{"$ref":"#/definitions/EPApp"},"priority":{"type":"integer","format":"int32"},"role":{"$ref":"#/definitions/EPRole"},"userId":{"type":"integer","format":"int64"}}},"EcompRole":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"}}},"EcompUser":{"type":"object","properties":{"active":{"type":"boolean"},"email":{"type":"string"},"firstName":{"type":"string"},"hrid":{"type":"string"},"jobTitle":{"type":"string"},"lastName":{"type":"string"},"loginId":{"type":"string"},"managerId":{"type":"string"},"middleInitial":{"type":"string"},"orgCode":{"type":"string"},"orgId":{"type":"integer","format":"int64"},"orgManagerUserId":{"type":"string"},"orgUserId":{"type":"string"},"phone":{"type":"string"},"roles":{"type":"array","items":{"$ref":"#/definitions/EcompRole"}}}},"ExternalSystemRoleApproval":{"type":"object","properties":{"roleName":{"type":"string"}}},"ExternalSystemUser":{"type":"object","properties":{"applicationName":{"type":"string"},"loginId":{"type":"string"},"myloginrequestId":{"type":"string"},"roles":{"type":"array","items":{"$ref":"#/definitions/ExternalSystemRoleApproval"}}}},"FavoritesFunctionalMenuItemJson":{"type":"object","properties":{"menuId":{"type":"integer","format":"int64"},"restrictedApp":{"type":"boolean"},"text":{"type":"string"},"url":{"type":"string"},"userId":{"type":"integer","format":"int64"}}},"FunctionalMenuItem":{"type":"object","properties":{"active_yn":{"type":"string"},"appid":{"type":"integer","format":"int32"},"column":{"type":"integer","format":"int32"},"menuId":{"type":"integer","format":"int64"},"parentMenuId":{"type":"integer","format":"int32"},"restrictedApp":{"type":"boolean"},"roles":{"type":"array","items":{"type":"integer","format":"int32"}},"text":{"type":"string"},"url":{"type":"string"}}},"OnboardingApp":{"type":"object","properties":{"alternateUrl":{"type":"string"},"appPassword":{"type":"string"},"description":{"type":"string"},"id":{"type":"integer","format":"int64"},"imageLink":{"type":"string"},"imageUrl":{"type":"string"},"isCentralAuth":{"type":"boolean"},"isEnabled":{"type":"boolean"},"isOpen":{"type":"boolean"},"name":{"type":"string"},"nameSpace":{"type":"string"},"notes":{"type":"string"},"restUrl":{"type":"string"},"restrictedApp":{"type":"boolean"},"thumbnail":{"type":"string"},"uebKey":{"type":"string"},"uebSecret":{"type":"string"},"uebTopicName":{"type":"string"},"url":{"type":"string"},"username":{"type":"string"}}},"PortalAPIResponse":{"type":"object","properties":{"message":{"type":"string"},"status":{"type":"string"}}},"PortalRestResponse":{"type":"object","properties":{"message":{"type":"string"},"response":{"type":"object"},"status":{"type":"string","enum":["ok","WARNING","error"]}}},"PortalRestResponse«string»":{"type":"object","properties":{"message":{"type":"string"},"response":{"type":"string"},"status":{"type":"string","enum":["ok","WARNING","error"]}}},"Role":{"type":"object","properties":{"active":{"type":"boolean"},"auditTrail":{"type":"array","items":{"type":"object"}},"auditUserId":{"$ref":"#/definitions/Serializable"},"childRoles":{"type":"array","items":{"type":"object"}},"created":{"type":"string","format":"date-time"},"createdId":{"type":"integer","format":"int64"},"id":{"type":"integer","format":"int64"},"modified":{"type":"string","format":"date-time"},"modifiedId":{"type":"integer","format":"int64"},"name":{"type":"string"},"priority":{"type":"integer","format":"int32"},"roleFunctions":{"type":"array","items":{"type":"object"}},"rowNum":{"type":"integer","format":"int64"}}},"RoleFunction":{"type":"object","properties":{"auditTrail":{"type":"array","items":{"type":"object"}},"auditUserId":{"$ref":"#/definitions/Serializable"},"code":{"type":"string"},"created":{"type":"string","format":"date-time"},"createdId":{"type":"integer","format":"int64"},"editUrl":{"type":"string"},"id":{"type":"integer","format":"int64"},"modified":{"type":"string","format":"date-time"},"modifiedId":{"type":"integer","format":"int64"},"name":{"type":"string"},"rowNum":{"type":"integer","format":"int64"}}},"Serializable":{"type":"object"},"SharedContext":{"type":"object","properties":{"auditTrail":{"type":"array","items":{"type":"object"}},"auditUserId":{"$ref":"#/definitions/Serializable"},"ckey":{"type":"string"},"context_id":{"type":"string"},"create_time":{"type":"string","format":"date-time"},"created":{"type":"string","format":"date-time"},"createdId":{"type":"integer","format":"int64"},"cvalue":{"type":"string"},"id":{"type":"integer","format":"int64"},"modified":{"type":"string","format":"date-time"},"modifiedId":{"type":"integer","format":"int64"},"rowNum":{"type":"integer","format":"int64"}}},"SharedContextJsonResponse":{"type":"object"}}}