.functional-menu-main{
 .bg_portalWhite;//white for 1702
   position: @page-main-position;
  top: @page-main-top;
  left: @page-main-left;
  right: @page-main-right;
  bottom: @page-main-bottom;
  padding-top: @padding-top;
  overflow-y: @page-main-overflow-y;
  padding-left: @padding-left-side;

  .functional-menu-container {
    // .portalWhite16r;  // font color and size
    position: relative;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: @container-bottom;
    background-color:#ffffff;
    
    //width: @table-width;
	.btn-blue{
		margin-left:0px;
	}
	
	.dropdown-menu{
	
		position:absolute;
	top:100%;
	left:0;
	z-index:1000;
	display:none;
	float:left;
	min-width:160px;
	padding:5px 0;
	margin:2px 0 0;
	list-style:none;
	font-size:14px;
	background-color:#fff;
	border:1px solid #ccc;
	border:1px solid rgba(0,0,0,.15);
	border-radius:6px;
	-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);
	box-shadow:0 6px 12px rgba(0,0,0,.175);
	background-clip:padding-box;
	
	}
	
	.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
}
	
    .tree {
   	  margin:auto;
      width: @table-width;
      //margin-left: @table-margin-left;
      //margin: 0 auto 60px;
       font-size:16px;
      
    }
    
    .functional-admin-button-container {
      padding-top: 10px;
      width: @table-width;
      margin:auto;
    }
    
    .error-text {
      width: @table-width;
      margin: auto;
      padding: 20px;
      left: 20px;
      font-weight: bold;
      font-size: 16px;
      text-align: left;
      color: @err;
      background-color: @portalWhite;

      .error-help {
        color: @portalDGray;
        font-weight: normal;
      }
    }
    
    .error-msg-txt {
    	color: red; 
    	font-size: 11px;
    }
    
  }
  .regenerate-functionalmenu-btn-txt {
  	color:black;
  }	
}