<html>
<body>
    <div align="center">
         <form method="post" action="doUpload/widget-resources" enctype="multipart/form-data">
            <table border="0">
                <tr>
                    <td>Pick file:</td>
                    <td><input type="file" name="fileUpload" size="50" /></td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><input type="submit" value="Upload" /></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>