.hide {
  display: none;
}
.show {
  display: block;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
#reg-sessionModalPopupWindow.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  /* IE6-7 */

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  outline: none;
  bottom: auto;
  overflow: visible;
  overflow-y: visible;
}
#reg-sessionModalPopupWindow.modal.fade {
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
  -o-transition: opacity 0.3s linear, top 0.3s ease-out;
  transition: opacity 0.3s linear, top 0.3s ease-out;
  top: -25%;
}
#reg-sessionModalPopupWindow.modal.fade.in {
  top: 10%;
}
#reg-sessionModalPopupWindow .modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}
#reg-sessionModalPopupWindow .modal-header .close {
  margin-top: 2px;
}
#reg-sessionModalPopupWindow .modal-header h3 {
  margin: 0;
  line-height: 30px;
}
#reg-sessionModalPopupWindow .modal-body {
  position: relative;
  overflow-y: auto;
  max-height: 400px;
  padding: 15px;
}
#reg-sessionModalPopupWindow .modal-form {
  margin-bottom: 0;
}
#reg-sessionModalPopupWindow .modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  *zoom: 1;
}
#reg-sessionModalPopupWindow .modal-footer:before,
#reg-sessionModalPopupWindow .modal-footer:after {
  display: table;
  content: "";
  line-height: 0;
}
#reg-sessionModalPopupWindow .modal-footer:after {
  clear: both;
}
#reg-sessionModalPopupWindow .modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
#reg-sessionModalPopupWindow .modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
#reg-sessionModalPopupWindow .modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
/* 
input{
	color: #444444;
    font-family: clearviewattregular;
    font-size: 12px;
    //line-height: 48px;
	width: 190px; 
	height: 22px;
	background: none repeat scroll 0 0 #FFFFFF;
	
}
input:focus {
    border:1px solid #199ddf!important;
    //box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
	box-shadow:none!important;
 }
 input:hover{
    border:1px solid #BBBBBB;
    //box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
	box-shadow:none!important;
 }
*/
.button-black {
  border-radius: 6px;
  /*-webkit-transition: background 0.3s ease-in-out 0s;
	-moz-transition: background 0.3s ease-in-out 0s;
	transition: background 0.3s ease-in-out 0s;*/

  width: 94px;
  height: 30px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  background: #444444;
  font-family: clearviewattregular;
  font-size: 14px;
  line-height: 15px;
  color: #FFFFFF;
  margin-top: 40px;
  margin-left: 14px;
  border: none!important;
}
#reg-sessionModalPopupWindow {
  min-height: 492px;
  height: auto;
  width: 400px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.25);
}
#reg-sessionModalPopupWindow form {
  margin: 0px !important;
}
#reg-sessionModalPopupWindow .reg-sessionModalRectangle1 {
  height: 150px;
  background-color: #067ab4;
  clear: both;
  width: 400px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.25);
}
#reg-sessionModalPopupWindow .reg-sessionModalRectangle1 .reg-info-sprite {
  background-image: url("../images/common/session-timeout/information_spritesheet.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  display: block;
  height: 56px;
  width: 56px;
  margin-top: 47px;
  float: left;
  margin-left: 172px;
  text-decoration: underline;
}
#reg-sessionModalPopupWindow .reg-login-error-msg-box {
  color: #ff4539;
  cursor: default;
  display: block !important;
  font-size: 12px;
  height: auto;
  line-height: 20px;
  padding: 10px;
  text-align: left;
  width: auto;
  z-index: 100;
}
#reg-sessionModalPopupWindow .reg-login-error-msg-box a {
  cursor: pointer;
  color: #FFFFFF;
  text-decoration: underline;
}
#reg-sessionModalPopupWindow .reg-custom-errorIcon {
  background: url('../images/common/form-validation/red-error-icon.png') no-repeat !important;
  clear: both;
  display: block;
  float: left;
  height: 14px;
  margin: 10px 10px 0px 10px;
  width: 15px;
  z-index: 100;
}
#reg-sessionModalPopupWindow .reg-sessionModalRectangle2 {
  min-height: 342px;
  width: 400px;
  height: auto;
  background-color: #ffffff;
  clear: both;
}
#reg-sessionModalPopupWindow .reg-sessionModalRectangle2 .reg-sessionModalTimeOut {
  clear: both;
  height: auto;
}
#reg-sessionModalPopupWindow .reg-sessionModalRectangle2 .reg-sessionModalTimeOut .reg-sessionTimeOut {
  clear: both;
  padding-top: 42px;
  width: 100%;
  padding-left: 50px;
}
#reg-sessionModalPopupWindow .reg-sessionModalRectangle2 .reg-sessionModalTimeOut .reg-sessionTimeOut .reg-TimeOut {
  color: #444444;
}
#reg-sessionModalPopupWindow .reg-sessionModalRectangle2 .reg-sessionModalTimeOut .reg-sessionLoggedOut {
  clear: both;
  margin: 0 auto;
  padding-top: 6px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  padding-bottom: 6px;
  white-space: nowrap;
  line-height: initial;
}
#reg-sessionModalPopupWindow .reg-sessionModalRectangle2 .reg-sessionModalTimeOut .reg-sessionLoggedOut .reg-LogOut {
  margin: 0px;
  text-transform: none;
  font-family: clearviewatt_ltbold;
  font-size: 14px;
  font-weight: 100;
  color: #444444;
  /*line-height: 20px;*/

  white-space: nowrap;
  line-height: initial;
}
#reg-sessionModalPopupWindow .reg-sessionModalRectangle2 .reg-sessionModalTimeOut .reg-sessionExpired {
  clear: both;
  margin-top: 0px;
  padding-left: 50px;
  padding-right: 40px;
  line-height: initial;
}
#reg-sessionModalPopupWindow .reg-sessionModalRectangle2 .reg-sessionModalTimeOut .reg-sessionExpired .reg-Expired {
  margin: 0px;
  text-transform: none;
  font-family: clearviewattregular;
  font-size: 14px;
  line-height: 10px;
  font-weight: 100;
  color: #444444;
  line-height: initial;
}
#reg-sessionModalPopupWindow .reg-sessionModalRectangle2 .reg-valid {
  clear: both;
  text-align: center;
  height: auto;
  padding: 0px 0px 0px 0px;
}
#reg-sessionModalPopupWindow .reg-sessionModalRectangle2 .reg-valid .error-msg-box {
  background-color: #FF4539;
  border-radius: 3px 3px 3px 3px;
  color: #FFFFFF;
  font-size: 12px;
  height: 35px;
  line-height: 35px;
  margin-left: 100px;
  margin-top: 15px;
  width: 200px;
}
#reg-sessionModalPopupWindow .reg-sessionModalRectangle2 #reg-login {
  float: left;
  padding-left: 99px;
}
#reg-sessionModalPopupWindow .reg-sessionModalRectangle2 #reg-login .reg-username {
  clear: both;
}
#reg-sessionModalPopupWindow .reg-sessionModalRectangle2 #reg-login .reg-username #reg-emailLogin {
  background: url("../images/icon-username.png") no-repeat scroll 10px center #fafafa ! important;
  font-size: 12px !important;
  background: none repeat scroll 0 0 #FAFAFA;
  border: 1px solid #D3D3D3 !important;
  border-radius: 3px;
  color: #444444;
  font-family: clearviewattregular;
  -ms-transition: all 0.3s ease-in-out;
  transition: border 0.3s ease-in-out;
  box-shadow: none !important;
  padding-left: 10px;
  height: 35px;
  margin-top: 15px;
  padding: 8px 10px 10px 36px;
  width: 300px;
  margin-bottom: 0px;
  border-radius: 0px !important;
}
#reg-sessionModalPopupWindow .reg-sessionModalRectangle2 #reg-login .reg-username #reg-emailLogin:hover {
  border: 1px solid #BBBBBB !important;
  z-index: 90;
}
#reg-sessionModalPopupWindow .reg-sessionModalRectangle2 #reg-login .reg-username #reg-emailLogin:focus {
  border: 1px solid #199DDF !important;
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: 0;
  z-index: 100;
}
#reg-sessionModalPopupWindow .reg-sessionModalRectangle2 #reg-login .reg-password {
  clear: both;
}
#reg-sessionModalPopupWindow .reg-sessionModalRectangle2 #reg-login .reg-password #reg-userPassword {
  background: url("../images/icon-password.png") no-repeat scroll 10px center #fafafa ! important;
  background: none repeat scroll 0 0 #FAFAFA;
  border: 1px solid #D3D3D3 !important;
  border-radius: 3px;
  color: #444444;
  font-family: clearviewattregular;
  -ms-transition: all 0.3s ease-in-out;
  transition: border 0.3s ease-in-out;
  box-shadow: none !important;
  padding-left: 10px;
  display: block;
  font-size: 12px !important;
  height: 35px;
  margin-bottom: 0px;
  margin-top: -10px;
  padding: 8px 10px 10px 36px;
  width: 300px;
  border-radius: 0px !important;
}
#reg-sessionModalPopupWindow .reg-sessionModalRectangle2 #reg-login .reg-password #reg-userPassword:hover {
  border: 1px solid #BBBBBB !important;
  z-index: 90;
}
#reg-sessionModalPopupWindow .reg-sessionModalRectangle2 #reg-login .reg-password #reg-userPassword:focus {
  border: 1px solid #199DDF !important;
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: 0;
  z-index: 100;
}
#reg-sessionModalPopupWindow .reg-sessionModalRectangle2 .reg-cancel-login {
  width: 100%;
  clear: both;
  height: 130px;
}
#reg-sessionModalPopupWindow .reg-sessionModalRectangle2 .reg-cancel-login #reg-cancelBtn {
  float: left;
  margin-left: 65px;
}
#reg-sessionModalPopupWindow .reg-sessionModalRectangle2 .reg-cancel-login #reg-cancelBtn .button-black {
  /*-webkit-transition: background 0.3s ease-in-out 0s;
				-moz-transition: background 0.3s ease-in-out 0s;
				transition: background 0.3s ease-in-out 0s;*/

  width: 97px;
  height: 30px;
  line-height: 15px;
  margin-top: 40px;
  margin-left: 17px;
  float: left;
  padding: 8px 17px !important;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 0 none;
  border-radius: 6px;
  color: #FFFFFF !important;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  position: relative;
  text-align: center;
  transition: background-color 0.3s ease-out 0s;
  vertical-align: middle;
  padding: 8px 20px 8px 20px;
  height: auto;
  text-decoration: none !important;
  valign: middle;
  outline: none;
  background-color: #666666;
  color: #FFFFFF;
}
#reg-sessionModalPopupWindow .reg-sessionModalRectangle2 .reg-cancel-login #reg-cancelBtn .button-black:hover {
  background-color: #BBBBBB;
}
#reg-sessionModalPopupWindow .reg-sessionModalRectangle2 .reg-cancel-login #reg-cancelBtn .button-black:active {
  background-color: #666666;
}
#reg-sessionModalPopupWindow .reg-sessionModalRectangle2 .reg-cancel-login #reg-loginBtn {
  float: left;
  margin-left: 25px;
  /* .button-active:hover{
				-webkit-transition: background 0.3s ease-in-out 0s; 
			   -moz-transition: background 0.3s ease-in-out 0s;
				transition: background 0.3s ease-in-out 0s;
		    	border-radius:6px;
		    	width:94px;
		    	height:30px;
		    	-webkit-border-radius:6px;
		    	-moz-border-radius:6px;
		    	background:#199DDF;
		    	font-family: clearviewattregular;
		   		font-size: 14px;
		    	line-height: 15px;
		    	color: #FFFFFF;
		    	margin-top: 48px;
				margin-left: 14px;
				border:none;
			}
			.button-active:active{
				-webkit-transition: background 0.3s ease-in-out 0s; 
			   -moz-transition: background 0.3s ease-in-out 0s;
				transition: background 0.3s ease-in-out 0s;
		    	border-radius:6px;
		    	width:94px;
		    	height:30px;
		    	-webkit-border-radius:6px;
		    	-moz-border-radius:6px;
		    	background:#069ab4;
		    	font-family: clearviewattregular;
		   		font-size: 14px;
		    	line-height: 15px;
		    	color: #7cc6ff;
		    	margin-top: 48px;
				margin-left: 14px;
				border:none;
				}	*/
}
#reg-sessionModalPopupWindow .reg-sessionModalRectangle2 .reg-cancel-login #reg-loginBtn .button-disable {
  width: 94px;
  height: 30px;
  line-height: 15px;
  pointer-events: none;
  margin-top: 40px;
  padding: 8px 17px !important;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #666666;
  border: 0 none;
  border-radius: 6px;
  color: #FFFFFF !important;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  position: relative;
  text-align: center;
  transition: background-color 0.3s ease-out 0s;
  vertical-align: middle;
  padding: 8px 20px 8px 20px;
  height: auto;
  text-decoration: none !important;
  valign: middle;
  outline: none;
  background-color: #DDDDDD;
  color: #999 !important;
  cursor: pointer;
}
#reg-sessionModalPopupWindow .reg-sessionModalRectangle2 .reg-cancel-login #reg-loginBtn .button-disable:hover {
  background-color: #DDDDDD;
}
#reg-sessionModalPopupWindow .reg-sessionModalRectangle2 .reg-cancel-login #reg-loginBtn .button-disable:active {
  background-color: #DDDDDD;
}
#reg-sessionModalPopupWindow .reg-sessionModalRectangle2 .reg-cancel-login #reg-loginBtn .button-active {
  width: 94px;
  height: 30px;
  line-height: 15px;
  margin-top: 40px;
  border: none;
  padding: 8px 17px !important;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #666666;
  border: 0 none;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  position: relative;
  text-align: center;
  transition: background-color 0.3s ease-out 0s;
  vertical-align: middle;
  padding: 8px 20px 8px 20px;
  height: auto;
  text-decoration: none !important;
  valign: middle;
  outline: none;
  background-color: #067AB4;
  border-color: #3580BD;
  color: #FFFFFF !important;
}
#reg-sessionModalPopupWindow .reg-sessionModalRectangle2 .reg-cancel-login #reg-loginBtn .button-active:hover {
  background-color: #199DDF;
}
#reg-sessionModalPopupWindow .reg-sessionModalRectangle2 .reg-cancel-login #reg-loginBtn .button-active:active {
  background-color: #3278B1;
  border-color: #28618D;
}
form#formID {
  padding: 0px ! important;
}
.top-sub-menu {
  width: 24.9%;
  float: left;
  height: 50px;
  background: #ffffff;
  text-align: center;
}
.top-sub-menu-border {
  border-width: 0 0.1em 0 0;
  border-color: #e7e5e6;
  border-style: solid;
}
.top-sub-menu-span {
  color: #067AB4;
  font-family: clearviewatt_ltregular ! important;
  font-size: 18px;
  position: relative;
  top: 16px;
  left: 80px;
}
.inputCheckBox {
  float: left;
  margin-top: 14px;
  margin-right: 10px;
}
/* 
.labelBeforeClick {
	//background-image: url("/registration/web/images/sprite_20px.png");
	background-image: url("../images/sprite_20px.png");
	background-position: 43px 1px;
	display: inline-block;
	height: 20px;
	vertical-align: middle;
	width: 23px;
}
*/
.labelAfterClick {
  background-image: none;
  display: inline-block;
  vertical-align: middle;
}
.global-checkbox {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0 )";
  filter: alpha(opacity = 0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  position: relative;
  background-color: #f8f8f8;
  border-color: #f8f8f8;
  outline-width: 0px;
  outline: none;
}
.business-center-sprite-account-balance {
  background-image: url("../images/common/session-timeout/sprite_businesscenter_benefits.png");
  background-position: -1px 1px;
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  width: 30px;
}
.font-format {
  text-transform: none;
  clear: both;
  height: 45px;
  color: #067AB4;
  font-family: clearviewattregular ! important;
  font-size: 25px;
}
.login-label {
  width: 88px;
  font-size: 10px;
  color: #444;
}
.login-textBox {
  background: url("../images/common/session-timeout/exclamation-error.png") no-repeat scroll 266px #ffffff ! important;
  border: 1px solid #AAAAAA;
  border-radius: 4px 4px 4px 4px;
  background-color: #E7E5E6 ! important;
  color: #676767;
  font-family: 'clearviewattregular';
  font-size: 12px;
  height: 18px;
  line-height: 18px;
  margin: 1px 0;
  padding: 4px 4px 4px 5px;
  position: relative;
  vertical-align: middle;
  border-color: #b10b3b ! important;
  -webkit-box-shadow: inset 0px 0px 3px #b10b3b, 0px 0px 3px #b10b3b ! important;
  -moz-box-shadow: inset 0px 0px 3px #b10b3b, 0px 0px 3px #b10b3b ! important;
  box-shadow: inset 0px 0px 3px #b10b3b, 0px 0px 3px #b10b3b ! important;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s ! important;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s ! important;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s ! important;
  transition: border linear 0.2s, box-shadow linear 0.2s ! important;
}
input:-webkit-autofill {
  color: #E7E5E6 ! important;
}
.horizontal-border {
  background: none repeat scroll 0 0 #E7E5E6;
  float: left;
  height: 1.25px;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 157px;
}
.error-class {
  font-size: 10px;
  color: #b30a3c;
}
.server-side-error {
  background-color: #F7E6EC;
  border: 1px solid #D6A7B7;
  color: #B30A3C;
  font-size: 10px;
  height: 23px;
  padding-left: 15px;
  margin-bottom: 15px;
  padding-top: 10px;
  border-radius: 3px 3px 3px 3px;
}
.login-placeholder {
  position: relative;
}
.login-error-msg-box {
  position: relative;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #ff4539;
  height: auto;
  width: 190px;
  margin: -1px 0px 0px 3px;
  border-radius: 0 0 4px 4px;
  z-index: 100;
  padding: 12px 9px 10px 8px!important;
  line-height: 15px;
  cursor: default;
}
.login-error-msg-box a {
  cursor: pointer;
  color: #FFFFFF;
  text-decoration: underline;
}
.center-error-msg-box {
  position: relative;
  font-size: 12px;
  color: #FFFFFF;
  background-color: #ff4539;
  height: auto;
  width: 187px;
  margin-top: -2px;
  margin-left: 3px;
  border-radius: 0px 0px 4px 4px;
  z-index: 100;
  padding: 7px 10px 5px 10px;
  text-align: center;
  line-height: 15px;
  cursor: default;
}
.login-warning-msg-box {
  position: relative;
  font-size: 12px;
  color: #444444;
  background-color: #fcb134;
  height: auto;
  width: 190px;
  margin-top: -1px;
  margin-left: 3px;
  border-radius: 0 0 4px 4px;
  z-index: 100;
  padding: 8px 9px 7px 8px!important;
  line-height: 15px;
  cursor: default;
}
.login-warning-msg-box a {
  cursor: pointer;
  color: #444444;
  text-decoration: underline;
}
.custom-errorIcon {
  background: url(../common/images/common/form-validation/red-error-icon.png) no-repeat !important;
  height: 14px;
  width: 15px;
  position: absolute;
  top: 10px;
  left: 182px;
  z-index: 100;
  padding-top: 12px;
}
.custom-warningIcon {
  background: url(../common/images/common/form-validation/orange-LockedOut-icon.png) no-repeat !important;
  height: 14px;
  width: 15px;
  position: absolute;
  top: 8px;
  left: 182px;
  z-index: 100;
}
.header_login_field_border_warning {
  border: 1px solid #fcb134!important;
}
.header_login_field_3sides_warning {
  border: 1px solid #fcb134!important;
}
.header_login_field_border_error {
  border: 1px solid #ff4539!important;
}
#ajaxLoaderLoginPage {
  padding-left: 100px;
}
/* Registration Input Login Text and Password */
.regFormInputLoginText,
.regFormInputLoginPassword {
  display: block;
  /* this breaks relative positioning */

  width: 162px;
  height: 15px;
  color: #444444;
  padding: 10px;
  font-size: 12px;
  background: no-repeat scroll 100% -22px #fafafa;
}
.header-login-button {
  height: 20px;
  min-width: 10px !important;
  box-shadow: none;
  /* width:65px !important; */

}
#formID #header_login_title {
  font-family: omnes_attlight;
  font-size: 18px;
  color: #444;
  margin-top: 25px;
}
#formID #emailLogin {
  display: block;
  /* this breaks relative positioning */

  width: 162px;
  height: 15px;
  padding: 10px;
  font-size: 12px;
  background: no-repeat scroll 100% -22px #fafafa;
  background: none repeat scroll 0 0 #FAFAFA;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
  color: #444444;
  font-family: clearviewattregular;
  -ms-transition: all 0.3s ease-in-out;
  transition: border 0.3s ease-in-out;
  box-shadow: none !important;
  border-radius: 3px 3px 0px 0px ! important;
  margin-top: 13px;
  margin-left: 3px;
  height: 14px!important;
  width: 165px!important;
  background: url("../images/icon-username.png") no-repeat scroll 7px 9px #fafafa ! important;
  padding-left: 30px;
  line-height: 13px !important;
}
#formID #emailLogin:hover {
  border: 1px solid #BBBBBB;
  z-index: 90;
}
#formID #emailLogin:focus {
  border: 1px solid #199DDF !important;
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: 0;
  z-index: 100;
}
#formID #userPassword {
  display: block;
  /* this breaks relative positioning */

  width: 162px;
  height: 15px;
  padding: 10px;
  font-size: 12px;
  background: no-repeat scroll 100% -22px #fafafa;
  background: none repeat scroll 0 0 #FAFAFA;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
  color: #444444;
  font-family: clearviewattregular;
  -ms-transition: all 0.3s ease-in-out;
  transition: border 0.3s ease-in-out;
  box-shadow: none !important;
  border-radius: 0px 0px 3px 3px ! important;
  margin-top: -9px;
  margin-left: 3px;
  margin-bottom: 0px;
  height: 14px!important;
  width: 165px!important;
  background: url("../images/common/session-timeout/icon-password.png") no-repeat scroll 7px 9px #fafafa ! important;
  padding-left: 30px;
  line-height: 13px !important;
}
#formID #userPassword:hover {
  border: 1px solid #BBBBBB;
  z-index: 90;
}
#formID #userPassword:focus {
  border: 1px solid #199DDF !important;
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: 0;
  z-index: 100;
}
#formID #login_block {
  margin-top: 14px;
  height: 30px;
  margin-left: 3px;
}
#formID #login_block #login-btn {
  padding: 8px 17px !important;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #666666;
  border: 0 none;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  position: relative;
  text-align: center;
  transition: background-color 0.3s ease-out 0s;
  vertical-align: middle;
  padding: 8px 20px 8px 20px;
  height: auto;
  text-decoration: none !important;
  valign: middle;
  outline: none;
  background-color: #067AB4;
  border-color: #3580BD;
  color: #FFFFFF !important;
  height: 30px !important;
  min-width: 60px;
  min-width: 80px!important;
  padding: 8px 0px 8px 0px !important;
}
#formID #login_block #login-btn:hover {
  background-color: #199DDF;
}
#formID #login_block #login-btn:active {
  background-color: #3278B1;
  border-color: #28618D;
}
#formID #remember_me_component {
  margin-top: 14px;
  margin-left: 4px;
}
#formID #remember_me_component #rememberme_header_label {
  margin-top: 4px;
}
#formID #remember_me_component .text-input {
  font-size: 12px !important;
  padding: 0px;
  margin-left: 6px;
}
#formID #remember_me_component #remember-me {
  color: #666;
}
#formID #forgot_username_component {
  clear: both;
  text-align: left;
  padding-top: 48px;
  padding-bottom: 30px;
  padding-left: 3px;
}
#formID #forgot_username_component .regular {
  font-family: clearviewattregular;
  font-size: 12px;
  color: #444444;
}
#formID #forgot_username_component .link {
  font-family: clearviewattregular;
  font-size: 12px;
  color: #067ab4;
}
.login-top-backImage {
  background-image: url('../images/bg-login-final.jpg');
  height: 648px;
  background-position: 74% 104%;
  padding-left: 18px;
  padding-top: 0px;
}
.login-buss-center {
  font-family: omnes_attlight;
  text-transform: none;
  clear: both;
  line-height: 50px;
  padding-top: 80px;
  padding-bottom: 30px;
  font-size: 48px;
  text-align: start;
  color: #444444;
}
.login-userid-error {
  height: 70px;
  width: 180px;
  border-radius: 0px 0px 0px 0px;
  position: relative;
  left: 113px;
  top: -110px;
}
.login-password-error {
  height: 70px;
  width: 182px;
  border-radius: 0px 0px 0px 0px;
  display: none;
  position: relative;
  left: 112px;
  top: -110px;
}
.login-submit {
  height: 25px;
  width: 275px ! important;
}
.bui-reg-font {
  font-size: 25px;
  font-family: omnes_attmedium_italic ! important;
}
.bui-reg-lowerDiv-right {
  float: right;
  width: 70%;
}
.bui-reg-lowerDiv {
  padding-top: 60px;
  padding-bottom: 20px;
  height: 230px;
  background-color: #f2f2f2;
}
.bui-reg-lowerDiv .bui-reg-lowerDiv-content {
  height: inherit;
  width: 980px;
  margin: 0 auto;
}
.bui-reg-row-1-1 {
  float: left;
  width: 100%;
}
.bui-reg-f-12 {
  font-size: 12px;
}
.bui-reg-fr {
  float: right;
}
.bui-reg-w-75p {
  width: 75%;
}
.bui-reg-fl {
  float: left;
}
.bui-reg-login-btn {
  height: 25px;
  width: 230px;
  font-size: 11px;
  font-style: bold;
}
.bui-reg-err-popup {
  float: left;
  margin-left: 100px;
  margin-top: -27px;
  height: 40px;
}
.bui-reg-lowerDiv-right {
  width: 610px;
  margin: -4px 29px 0px 0px;
}
.bui-reg-new-customer {
  float: left;
  width: 260px;
  padding-left: 30px;
}
.bui-reg-new-customer-desc {
  margin-left: 2px;
  padding-top: 20px;
  line-height: 18px;
  font-family: 'clearviewattregular';
  font-size: 12px;
}
#reg_button_temp {
  margin: 0px 0px 0px 0px;
  width: 250px;
}
.bui-reg-fast,
.bui-reg-new-customer-label {
  font-family: arial;
  font-size: 24px;
  color: #067ab4;
  margin: -3px 0px 0px 29px;
}
.bui-reg-fast h3,
.bui-reg-new-customer-label h3 {
  color: #067ab4;
  margin-left: -28px;
}
.bui-reg-btn-hero {
  padding: 8px 17px !important;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #666666;
  border: 0 none;
  border-radius: 6px;
  color: #FFFFFF !important;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  position: relative;
  text-align: center;
  transition: background-color 0.3s ease-out 0s;
  vertical-align: middle;
  padding: 8px 20px 8px 20px;
  text-decoration: none !important;
  valign: middle;
  outline: none;
  background-color: #EF6F00;
  color: #FFFFFF;
  margin-left: 1px;
  width: 200px;
  height: auto;
}
.bui-reg-btn-hero:hover {
  background-color: #FCB314;
}
.bui-reg-btn-hero:active {
  background-color: #FF7200;
}
.bui-m-t-25 {
  margin-top: 35px !important;
  margin-left: 3px !important;
}
.bui-global-btn {
  padding: 8px 17px !important;
}
.bui-reg-column-1 {
  float: left;
  margin-top: 31px;
  margin-right: 72px;
  width: 240px;
}
.bui-reg-column-1 .bui-reg-account-balance .bui-reg-account-balance-pic {
  margin: 3px 0px 0px 2px;
  float: left;
  background-image: url("../images/common/session-timeout/sprite_businesscenter_benefits.png");
  background-position: -1px 1px;
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  width: 30px;
  background-position: 107px -1px;
  height: 27px !important;
  width: 26px !important;
}
.bui-reg-column-1 .bui-reg-account-balance .bui-reg-account-balance-desc {
  color: #444444;
  font-family: clearviewattregular ! important;
  font-size: 12px;
  padding-left: 57px;
  width: 220px;
  line-height: 15px !important;
}
.bui-reg-column-1 .bui-reg-account-balance .att-global-fonts-content-copy {
  line-height: 15px !important;
}
.bui-reg-column-1 .bui-reg-changeTV {
  margin-top: 25px;
}
.bui-reg-column-1 .bui-reg-changeTV .bui-reg-changeTV-pic {
  margin-top: 5px;
  float: left;
  background-image: url("../images/common/session-timeout/sprite_businesscenter_benefits.png");
  background-position: -1px 1px;
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  width: 30px;
  background-position: 82px 0px;
  height: 28px !important;
  width: 30px !important;
}
.bui-reg-column-1 .bui-reg-changeTV .bui-reg-changeTV-desc {
  color: #444444;
  font-family: clearviewattregular ! important;
  font-size: 12px;
  padding-left: 58px;
  width: 210px;
  margin-top: -3px;
  line-height: 15px !important;
}
.bui-reg-column-1 .bui-reg-changeTV .att-global-fonts-content-copy {
  line-height: 15px !important;
}
.bui-reg-column-2 {
  float: left;
  margin-top: 29px;
  width: 240px;
}
.bui-reg-column-2 .bui-reg-networkManagement .bui-reg-networkManagement-pic {
  margin: 5px 0px 0px -1px;
  float: left;
  background-image: url("../images/common/session-timeout/sprite_businesscenter_benefits.png");
  background-position: -1px 1px;
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  width: 30px;
  background-position: 52px 0px;
  height: 28px !important;
  width: 27px !important;
}
.bui-reg-column-2 .bui-reg-networkManagement .bui-reg-networkManagement-desc {
  color: #444444;
  font-family: clearviewattregular ! important;
  font-size: 12px;
  padding: 2px 0px 0px 54px;
  width: 190px;
  line-height: 15px !important;
}
.bui-reg-column-2 .bui-reg-networkManagement .att-global-fonts-content-copy {
  line-height: 15px !important;
}
.bui-reg-column-2 .bui-reg-minutes-text-data {
  margin-top: 37px;
}
.bui-reg-column-2 .bui-reg-minutes-text-data .bui-reg-minutes-text-data-pic {
  margin: 3px 0px 0px -1px;
  float: left;
  background-image: url("../images/common/session-timeout/sprite_businesscenter_benefits.png");
  background-position: -1px 1px;
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  width: 30px;
  background-position: 24px 0px;
  height: 28px !important;
  width: 25px !important;
}
.bui-reg-column-2 .bui-reg-minutes-text-data .bui-reg-minutes-text-data-pic .clearfix {
  clear: both;
}
.bui-reg-column-2 .bui-reg-minutes-text-data .bui-reg-minutes-text-data-pic .header-custom-errorIcon {
  background: url(../common/images/common/form-validation/red-error-icon.png) no-repeat !important;
  height: 14px;
  width: 14px;
  position: absolute;
  top: 10px;
  left: 200px;
  z-index: 100;
  padding-top: 12px;
}
.bui-reg-column-2 .bui-reg-minutes-text-data .bui-reg-minutes-text-data-pic .header-custom-warningIcon {
  background: url(../images/common/form-validation/orange-LockedOut-icon.png) no-repeat !important;
  clear: both;
  display: block;
  float: left;
  height: 14px;
  margin: 10px 10px 0px 10px;
  width: 15px;
  z-index: 100;
}
.bui-reg-column-2 .bui-reg-minutes-text-data .bui-reg-minutes-text-data-pic .header-login-error-msg-box {
  position: relative;
  font-size: 13px;
  color: #FFF;
  background-color: #ff4539;
  height: auto;
  width: 190px;
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  z-index: 100;
  padding: 8px 5px 7px 5px!important;
  line-height: 15px;
  cursor: default;
  margin-left: 25px;
  text-align: left;
}
.bui-reg-column-2 .bui-reg-minutes-text-data .bui-reg-minutes-text-data-pic .header-login-error-msg-box a {
  cursor: pointer;
  color: #FFF;
  text-decoration: underline;
  vertical-align: 3px;
}
.bui-reg-column-2 .bui-reg-minutes-text-data .bui-reg-minutes-text-data-pic .header-login-warning-msg-box {
  position: relative;
  font-size: 12px;
  color: #fcb134;
  height: 60px;
  width: 190px;
  margin-top: 0px;
  z-index: 100;
  line-height: 15px;
  cursor: default;
  margin-left: 25px;
  text-align: left;
  margin-left: 76px;
  display: inline-block !important;
}
.bui-reg-column-2 .bui-reg-minutes-text-data .bui-reg-minutes-text-data-pic .header-fields-req-msg-box {
  position: relative;
  font-size: 12px;
  color: #FFF;
  background-color: #ff4539;
  height: auto;
  width: 190px;
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  z-index: 100;
  padding: 8px 5px 7px 5px!important;
  line-height: 15px;
  cursor: default;
  margin-left: 25px;
  text-align: center;
}
.bui-reg-column-2 .bui-reg-minutes-text-data .bui-reg-minutes-text-data-desc {
  color: #444444;
  font-family: clearviewattregular ! important;
  font-size: 12px;
  padding: 1px 0px 0px 55px;
  width: 210px;
  line-height: 15px !important;
}
.bui-reg-column-2 .bui-reg-minutes-text-data .att-global-fonts-content-copy {
  line-height: 15px !important;
}
.clearfix {
  clear: both;
}
.header-custom-errorIcon {
  background: url(../common/images/common/form-validation/red-error-icon.png) no-repeat !important;
  height: 14px;
  width: 14px;
  position: absolute;
  top: 10px;
  left: 200px;
  z-index: 100;
  padding-top: 12px;
}
.header-custom-warningIcon {
  background: url(../images/common/form-validation/orange-warning-icon.png) no-repeat !important;
  clear: both;
  display: block;
  float: left;
  height: 14px;
  margin: 10px 10px 0px 10px;
  width: 14px;
  z-index: 100;
}
.header-login-error-msg-box {
  position: relative;
  font-size: 13px;
  color: #FFF;
  background-color: #ff4539;
  height: auto;
  width: 190px;
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  z-index: 100;
  padding: 8px 5px 7px 5px!important;
  line-height: 15px;
  cursor: default;
  margin-left: 25px;
  text-align: left;
}
.header-login-error-msg-box a {
  cursor: pointer;
  color: #FFF;
  text-decoration: underline;
}
.header-login-warning-msg-box {
  color: #fcb134;
  cursor: default;
  display: block !important;
  font-size: 12px;
  height: auto;
  line-height: 20px;
  padding: 10px;
  text-align: left;
  width: auto;
  z-index: 100;
}
.header-fields-req-msg-box {
  position: relative;
  font-size: 12px;
  color: #FFF;
  background-color: #ff4539;
  height: auto;
  width: 190px;
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  z-index: 100;
  padding: 8px 5px 7px 5px!important;
  line-height: 15px;
  cursor: default;
  margin-left: 25px;
  text-align: center;
}
.bui-global-btn {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #666666;
  border: 0 none;
  border-radius: 6px;
  color: #FFFFFF !important;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  position: relative;
  text-align: center;
  transition: background-color 0.3s ease-out 0s;
  vertical-align: middle;
  padding: 8px 20px 8px 20px;
  height: auto;
  text-decoration: none !important;
  valign: middle;
  outline: none;
}
.bui-global-btn-small {
  height: 30px !important;
  min-width: 60px;
}
.bui-global-btn-primary {
  background-color: #067AB4;
  border-color: #3580BD;
  color: #FFFFFF !important;
}
.bui-global-btn-primary:hover {
  background-color: #199DDF;
}
.bui-global-btn-primary:active {
  background-color: #3278B1;
  border-color: #28618D;
}
.bui-global-btn-hero {
  background-color: #EF6F00;
  color: #FFFFFF;
}
.bui-global-btn-hero:hover {
  background-color: #FCB314;
}
.bui-global-btn-hero:active {
  background-color: #FF7200;
}
.bui-global-btn-secondary {
  background-color: #666666;
  color: #FFFFFF;
}
.bui-global-btn-secondary:hover {
  background-color: #BBBBBB;
}
.bui-global-btn-secondary:active {
  background-color: #666666;
}
.bui-global-btn-disabled {
  background-color: #DDDDDD;
  color: #999 !important;
  cursor: pointer;
}
.bui-global-btn-disabled:hover {
  background-color: #DDDDDD;
}
.bui-global-btn-disabled:active {
  background-color: #DDDDDD;
}
.loadingIconImage {
  background-image: url('../images/common/session-timeout/LazyScrollPlaceholder.gif');
  background-repeat: no-repeat;
  /* make the background image appear only once */

  background-position: center 4px;
  /* equivalent to 'top left' */

  background-size: 24px 24px;
  vertical-align: middle;
  /* align the text vertically centered */

  display: inline-block;
}
.loadingIconImage:hover {
  background-color: #067AB4 !important;
}
/* ***** Global Fonts ******* */
.att-global-fonts-common {
  margin: 0px;
  text-transform: none;
}
h2.att-global-fonts {
  margin: 0px;
  text-transform: none;
  font-family: omnes_attlight;
  font-size: 36px;
  line-height: 36px;
  font-weight: 100;
  letter-spacing: -1px;
}
.att-global-fonts-modal-header {
  margin: 0px;
  text-transform: none;
  font-family: clearviewatt_ltbold;
  font-size: 14px;
  font-weight: 100;
}
.att-global-fonts-modal-content {
  margin: 0px;
  text-transform: none;
  font-family: clearviewattregular;
  font-size: 14px;
  line-height: 10px;
  font-weight: 100;
}
/* ***** Global Transitions ******* */
.bui-global-transitions-focus {
  border: 1px solid #199DDF !important;
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: 0;
  z-index: 100;
}
.bui-global-transitions-hover {
  border: 1px solid #BBBBBB;
  z-index: 90;
}
.bui-global-transitions-hover-important {
  border: 1px solid #BBBBBB !important;
  z-index: 90;
}
.bui-global-transitions-login-page {
  background: none repeat scroll 0 0 #FAFAFA;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
  color: #444444;
  font-family: clearviewattregular;
  -ms-transition: all 0.3s ease-in-out;
  transition: border 0.3s ease-in-out;
  box-shadow: none !important;
}
.bui-global-transitions-login-page:hover {
  border: 1px solid #BBBBBB;
  z-index: 90;
}
.bui-global-transitions-login-page:focus {
  border: 1px solid #199DDF !important;
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: 0;
  z-index: 100;
}
.bui-global-transitions {
  background: none repeat scroll 0 0 #FAFAFA;
  border: 1px solid #D3D3D3 !important;
  border-radius: 3px;
  color: #444444;
  font-family: clearviewattregular;
  -ms-transition: all 0.3s ease-in-out;
  transition: border 0.3s ease-in-out;
  box-shadow: none !important;
}
.bui-global-transitions:hover {
  border: 1px solid #BBBBBB !important;
  z-index: 90;
}
.bui-global-transitions:focus {
  border: 1px solid #199DDF !important;
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: 0;
  z-index: 100;
}
.bui-global-transitions-disabled {
  background: none repeat scroll 0 0 #F2F2F2;
  border: 1px solid #D3D3D3 !important;
  border-radius: 3px;
  color: #444444;
  font-family: clearviewattregular;
  box-shadow: none !important;
}
.bui-global-form-fields {
  background: none repeat scroll 0 0 #FAFAFA;
  border: 1px solid #D3D3D3 !important;
  border-radius: 3px;
  color: #444444;
  font-family: clearviewattregular;
  -ms-transition: all 0.3s ease-in-out;
  transition: border 0.3s ease-in-out;
  box-shadow: none !important;
  padding-left: 10px;
}
.bui-global-form-fields:hover {
  border: 1px solid #BBBBBB !important;
  z-index: 90;
}
.bui-global-form-fields:focus {
  border: 1px solid #199DDF !important;
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: 0;
  z-index: 100;
}
.bui-global-form-fields-disabled {
  background: none repeat scroll 0 0 #F2F2F2;
  border: 1px solid #D3D3D3 !important;
  border-radius: 3px;
  color: #444444;
  font-family: clearviewattregular;
  box-shadow: none !important;
  padding-left: 10px;
}
.custom-button-top-warning {
  padding-top: 10px;
}
.custom-button-top-locked {
  margin-top: 60px;
  padding-top: 45px;
}
.custom-top-modal {
  margin-top: -65px;
}
.custom-button-top-pending {
  margin-top: 100px;
  padding-top: 25px;
}
.custom-button-top-deactivate {
  padding-top: 40px;
}
.reg-sessionTimeOut-custom {
  padding-top: 20px !important;
}
.reg-message-border-custom {
  margin-top: -20px !important;
}
