.navbar {
	display: none;
}
.navbar-fixed-bottom .dropdown .caret {
	border-top-color: currentColor; border-bottom-color: rgb(0, 0, 0); border-top-width: 0px; border-bottom-width: 4px; border-top-style: dotted; border-bottom-style: solid; content: "";
}
.navbar-fixed-bottom .dropdown .dropdown-menu {
	top: auto; bottom: 100%; margin-bottom: 1px;
}
@media all and (min-width:768px)
{
.navbar-right .dropdown-menu {
	left: auto; right: 0px;
}
}
.navbar {
	margin-bottom: 20px; min-height: 50px;
}
.navbar::after {
	display: table; content: " ";
}
.navbar::before {
	display: table; content: " ";
}
.navbar::after {
	clear: both;
}
@media all and (min-width:768px)
{
.navbar {
	border-radius: 6px;
}
}
.navbar-header::after {
	display: table; content: " ";
}
.navbar-header::before {
	display: table; content: " ";
}
.navbar-header::after {
	clear: both;
}
@media all and (min-width:768px)
{
.navbar-header {
	float: left;
}
}
.navbar-collapse {
	padding-right: 10px; padding-left: 10px; border-top-color: transparent; border-top-width: 1px; border-top-style: solid; -ms-overflow-x: visible; max-height: 340px; box-shadow: inset 0px 1px 0px rgba(255,255,255,0.1); -webkit-overflow-scrolling: touch;
}
.navbar-collapse::after {
	display: table; content: " ";
}
.navbar-collapse::before {
	display: table; content: " ";
}
.navbar-collapse::after {
	clear: both;
}
.in.navbar-collapse {
	-ms-overflow-y: auto;
}
@media all and (min-width:768px)
{
.navbar-collapse {
	width: auto; border-top-color: currentColor; border-top-width: 0px; border-top-style: none; box-shadow: none;
}
.collapse.navbar-collapse {
	height: auto !important; overflow: visible !important; padding-bottom: 0px; display: block !important;
}
.in.navbar-collapse {
	-ms-overflow-y: auto;
}
.navbar-collapse :first-child.navbar-left.navbar-nav {
	margin-left: -10px;
}
.navbar-collapse :last-child.navbar-right.navbar-nav {
	margin-right: -10px;
}
.navbar-collapse :last-child.navbar-text {
	margin-right: 0px;
}
}
.container > .navbar-collapse {
	margin-right: -10px; margin-left: -10px;
}
.container > .navbar-header {
	margin-right: -10px; margin-left: -10px;
}
@media all and (min-width:768px)
{
.container > .navbar-collapse {
	margin-right: 0px; margin-left: 0px;
}
.container > .navbar-header {
	margin-right: 0px; margin-left: 0px;
}
}
.navbar-static-top {
	border-width: 0px 0px 1px; z-index: 1000;
}
@media all and (min-width:768px)
{
.navbar-static-top {
	border-radius: 0px;
}
}
.navbar-fixed-bottom {
	left: 0px; right: 0px; position: fixed; z-index: 1030;
}
.navbar-fixed-top {
	left: 0px; right: 0px; position: fixed; z-index: 1030;
}
@media all and (min-width:768px)
{
.navbar-fixed-bottom {
	border-radius: 0px;
}
.navbar-fixed-top {
	border-radius: 0px;
}
}
.navbar-fixed-top {
	border-width: 0px 0px 1px; top: 0px;
}
.navbar-fixed-bottom {
	border-width: 1px 0px 0px; bottom: 0px; margin-bottom: 0px;
}
.navbar-brand {
	float: left;
}
.navbar-brand:focus {
	text-decoration: none;
}
.navbar-brand:hover {
	text-decoration: none;
}
@media all and (min-width:768px)
{
.navbar > .container .navbar-brand {
	margin-left: -10px;
}
}
.navbar-toggle {
	padding: 9px 10px; border-radius: 6px; border: 1px solid transparent; margin-top: 8px; margin-right: 10px; margin-bottom: 8px; float: right; position: relative; background-color: transparent;
}
.navbar-toggle .icon-bar {
	border-radius: 1px; width: 22px; height: 2px; display: block;
}
.navbar-toggle .icon-bar + .icon-bar {
	margin-top: 4px;
}
@media all and (min-width:768px)
{
.navbar-toggle {
	display: none;
}
}
.navbar-nav {
	margin: 7.5px -10px;
}
.navbar-nav > li > a {
	line-height: 20px; padding-top: 10px; padding-bottom: 10px;
}
@media all and (max-width:767px)
{
.navbar-nav .open .dropdown-menu {
	border: 0px currentColor; width: auto; margin-top: 0px; float: none; position: static; box-shadow: none; background-color: transparent;
}
.navbar-nav .open .dropdown-menu .dropdown-header {
	padding: 5px 15px 5px 25px;
}
.navbar-nav .open .dropdown-menu > li > a {
	padding: 5px 15px 5px 25px;
}
.navbar-nav .open .dropdown-menu > li > a {
	line-height: 20px;
}
.navbar-nav .open .dropdown-menu > li > a:focus {
	background-image: none;
}
.navbar-nav .open .dropdown-menu > li > a:hover {
	background-image: none;
}
}
@media all and (min-width:768px)
{
.navbar-nav {
	margin: 0px; float: left;
}
.navbar-nav > li {
	float: left;
}
.navbar-nav > li > a {
	padding-top: 15px; padding-bottom: 15px;
}
}
@media all and (min-width:768px)
{
.navbar-left {
	float: left !important;
}
.navbar-right {
	float: right !important;
}
}
.navbar-form {
	margin: 8px -10px; padding: 10px; border-top-color: transparent; border-bottom-color: transparent; border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid; box-shadow: inset 0px 1px 0px rgba(255,255,255,0.1), 0px 1px 0px rgba(255,255,255,0.1); -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
}
@media all and (max-width:767px)
{
.navbar-form .form-group {
	margin-bottom: 5px;
}
}
@media all and (min-width:768px)
{
.navbar-form {
	border: 0px currentColor; width: auto; padding-top: 0px; padding-bottom: 0px; margin-right: 0px; margin-left: 0px; box-shadow: none; -webkit-box-shadow: none;
}
}
.navbar-nav > li > .dropdown-menu {
	margin-top: 0px; border-top-left-radius: 0px; border-top-right-radius: 0px;
}
.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
	border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;
}
.pull-right.navbar-nav > li > .dropdown-menu {
	left: auto; right: 0px;
}
.navbar-nav > li > .pull-right.dropdown-menu {
	left: auto; right: 0px;
}
.navbar-btn {
	margin-top: 8px; margin-bottom: 8px;
}
.navbar-text {
	margin-top: 15px; margin-bottom: 15px; float: left;
}
@media all and (min-width:768px)
{
.navbar-text {
	margin-right: 10px; margin-left: 10px;
}
}
.navbar-default {
	border-color: rgb(231, 231, 231); background-color: rgb(248, 248, 248);
}
.navbar-default .navbar-brand {
	color: rgb(119, 119, 119);
}
.navbar-default .navbar-brand:focus {
	color: rgb(94, 94, 94); background-color: transparent;
}
.navbar-default .navbar-brand:hover {
	color: rgb(94, 94, 94); background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
	color: rgb(119, 119, 119);
}
.navbar-default .navbar-text {
	color: rgb(119, 119, 119);
}
.navbar-default .navbar-nav > li > a:focus {
	color: rgb(51, 51, 51); background-color: transparent;
}
.navbar-default .navbar-nav > li > a:hover {
	color: rgb(51, 51, 51); background-color: transparent;
}
.navbar-default .navbar-nav > .active > a {
	color: rgb(85, 85, 85); background-color: rgb(231, 231, 231);
}
.navbar-default .navbar-nav > .active > a:focus {
	color: rgb(85, 85, 85); background-color: rgb(231, 231, 231);
}
.navbar-default .navbar-nav > .active > a:hover {
	color: rgb(85, 85, 85); background-color: rgb(231, 231, 231);
}
.navbar-default .navbar-nav > .disabled > a {
	color: rgb(204, 204, 204); background-color: transparent;
}
.navbar-default .navbar-nav > .disabled > a:focus {
	color: rgb(204, 204, 204); background-color: transparent;
}
.navbar-default .navbar-nav > .disabled > a:hover {
	color: rgb(204, 204, 204); background-color: transparent;
}
.navbar-default .navbar-toggle {
	border-color: rgb(221, 221, 221);
}
.navbar-default .navbar-toggle:focus {
	background-color: rgb(221, 221, 221);
}
.navbar-default .navbar-toggle:hover {
	background-color: rgb(221, 221, 221);
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: rgb(204, 204, 204);
}
.navbar-default .navbar-collapse {
	border-color: rgb(231, 231, 231);
}
.navbar-default .navbar-form {
	border-color: rgb(231, 231, 231);
}
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
	border-top-color: rgb(51, 51, 51); border-bottom-color: rgb(51, 51, 51);
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret {
	border-top-color: rgb(51, 51, 51); border-bottom-color: rgb(51, 51, 51);
}
.navbar-default .navbar-nav > .open > a {
	color: rgb(85, 85, 85); background-color: rgb(231, 231, 231);
}
.navbar-default .navbar-nav > .open > a:focus {
	color: rgb(85, 85, 85); background-color: rgb(231, 231, 231);
}
.navbar-default .navbar-nav > .open > a:hover {
	color: rgb(85, 85, 85); background-color: rgb(231, 231, 231);
}
.navbar-default .navbar-nav > .open > a .caret {
	border-top-color: rgb(85, 85, 85); border-bottom-color: rgb(85, 85, 85);
}
.navbar-default .navbar-nav > .open > a:focus .caret {
	border-top-color: rgb(85, 85, 85); border-bottom-color: rgb(85, 85, 85);
}
.navbar-default .navbar-nav > .open > a:hover .caret {
	border-top-color: rgb(85, 85, 85); border-bottom-color: rgb(85, 85, 85);
}
.navbar-default .navbar-nav > .dropdown > a .caret {
	border-top-color: rgb(119, 119, 119); border-bottom-color: rgb(119, 119, 119);
}
@media all and (max-width:767px)
{
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color: rgb(119, 119, 119);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
	color: rgb(51, 51, 51); background-color: transparent;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
	color: rgb(51, 51, 51); background-color: transparent;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a {
	color: rgb(85, 85, 85); background-color: rgb(231, 231, 231);
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
	color: rgb(85, 85, 85); background-color: rgb(231, 231, 231);
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover {
	color: rgb(85, 85, 85); background-color: rgb(231, 231, 231);
}
.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a {
	color: rgb(204, 204, 204); background-color: transparent;
}
.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
	color: rgb(204, 204, 204); background-color: transparent;
}
.navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover {
	color: rgb(204, 204, 204); background-color: transparent;
}
}
.navbar-default .navbar-link {
	color: rgb(119, 119, 119);
}
.navbar-default .navbar-link:hover {
	color: rgb(51, 51, 51);
}
.navbar-inverse {
	border-color: rgb(9, 9, 9); background-color: rgb(34, 34, 34);
}
.navbar-inverse .navbar-brand {
	color: rgb(153, 153, 153);
}
.navbar-inverse .navbar-brand:focus {
	color: rgb(255, 255, 255); background-color: transparent;
}
.navbar-inverse .navbar-brand:hover {
	color: rgb(255, 255, 255); background-color: transparent;
}
.navbar-inverse .navbar-nav > li > a {
	color: rgb(153, 153, 153);
}
.navbar-inverse .navbar-text {
	color: rgb(153, 153, 153);
}
.navbar-inverse .navbar-nav > li > a:focus {
	color: rgb(255, 255, 255); background-color: transparent;
}
.navbar-inverse .navbar-nav > li > a:hover {
	color: rgb(255, 255, 255); background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a {
	color: rgb(255, 255, 255); background-color: rgb(9, 9, 9);
}
.navbar-inverse .navbar-nav > .active > a:focus {
	color: rgb(255, 255, 255); background-color: rgb(9, 9, 9);
}
.navbar-inverse .navbar-nav > .active > a:hover {
	color: rgb(255, 255, 255); background-color: rgb(9, 9, 9);
}
.navbar-inverse .navbar-nav > .disabled > a {
	color: rgb(68, 68, 68); background-color: transparent;
}
.navbar-inverse .navbar-nav > .disabled > a:focus {
	color: rgb(68, 68, 68); background-color: transparent;
}
.navbar-inverse .navbar-nav > .disabled > a:hover {
	color: rgb(68, 68, 68); background-color: transparent;
}
.navbar-inverse .navbar-toggle {
	border-color: rgb(51, 51, 51);
}
.navbar-inverse .navbar-toggle:focus {
	background-color: rgb(51, 51, 51);
}
.navbar-inverse .navbar-toggle:hover {
	background-color: rgb(51, 51, 51);
}
.navbar-inverse .navbar-toggle .icon-bar {
	background-color: rgb(255, 255, 255);
}
.navbar-inverse .navbar-collapse {
	border-color: rgb(16, 16, 16);
}
.navbar-inverse .navbar-form {
	border-color: rgb(16, 16, 16);
}
.navbar-inverse .navbar-nav > .open > a {
	color: rgb(255, 255, 255); background-color: rgb(9, 9, 9);
}
.navbar-inverse .navbar-nav > .open > a:focus {
	color: rgb(255, 255, 255); background-color: rgb(9, 9, 9);
}
.navbar-inverse .navbar-nav > .open > a:hover {
	color: rgb(255, 255, 255); background-color: rgb(9, 9, 9);
}
.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
	border-top-color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255);
}
.navbar-inverse .navbar-nav > .dropdown > a .caret {
	border-top-color: rgb(153, 153, 153); border-bottom-color: rgb(153, 153, 153);
}
.navbar-inverse .navbar-nav > .open > a .caret {
	border-top-color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255);
}
.navbar-inverse .navbar-nav > .open > a:focus .caret {
	border-top-color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255);
}
.navbar-inverse .navbar-nav > .open > a:hover .caret {
	border-top-color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255);
}
@media all and (max-width:767px)
{
.navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
	border-color: rgb(9, 9, 9);
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
	color: rgb(153, 153, 153);
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
	color: rgb(255, 255, 255); background-color: transparent;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
	color: rgb(255, 255, 255); background-color: transparent;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a {
	color: rgb(255, 255, 255); background-color: rgb(9, 9, 9);
}
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
	color: rgb(255, 255, 255); background-color: rgb(9, 9, 9);
}
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover {
	color: rgb(255, 255, 255); background-color: rgb(9, 9, 9);
}
.navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a {
	color: rgb(68, 68, 68); background-color: transparent;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
	color: rgb(68, 68, 68); background-color: transparent;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover {
	color: rgb(68, 68, 68); background-color: transparent;
}
}
.navbar-inverse .navbar-link {
	color: rgb(153, 153, 153);
}
.navbar-inverse .navbar-link:hover {
	color: rgb(255, 255, 255);
}
.navbar {
	background: rgb(0, 0, 0); border-radius: 0px; border: 0px currentColor; left: 0px; top: 0px; height: 50px; right: 0px; color: rgb(248, 248, 248); font-size: 0.75rem; position: fixed; z-index: 2000;
}
.navbar-brand {
	background: url("images/7c6bc6a4.logo.png") no-repeat 0px; padding: 0px 0px 0px 40px; color: rgb(248, 248, 248); line-height: 50px; font-size: 0.75rem; font-weight: 400; margin-left: 0px !important; display: block;
}
.nav {
	list-style: none; margin: 0px; padding: 0px;
}
.navbar li {
	margin: 0px; float: left;
}
.navbar li:first-child {
	margin-left: 0px;
}
.navbar li > a {
	padding: 0px 10px; height: 50px; color: rgb(187, 187, 187); line-height: 50px; display: block; box-sizing: border-box; -moz-box-sizing: border-box;
}
.navbar li.active > a {
	border-bottom-color: rgb(252, 65, 30); border-bottom-width: 4px; border-bottom-style: solid;
}
.navbar li > a:focus {
	background-color: rgb(24, 24, 24);
}
.navbar li > a:hover {
	background-color: rgb(24, 24, 24);
}
.navbar li.active > a {
	color: rgb(248, 248, 248);
}
.navbar li > a:hover {
	color: rgb(248, 248, 248);
}
.navbar .dropdown {
	margin: 0px 0px 0px 10px; position: relative;
}
.navbar .dropdown:hover > a {
	transition:none; background-color: rgb(71, 71, 71); -webkit-transition: none; -moz-transition: none;
}
.navbar .dropdown:hover .dropdown-menu {
	display: block;
}
.navbar .dropdown-menu {
	list-style: none; margin: 0px; padding: 0px; border-radius: 0px; border: 0px currentColor; display: none; position: absolute; min-width: 120px;
}
.pull-right .dropdown-menu {
	left: auto; top: 100%; right: 0px; background-color: rgb(71, 71, 71);
}
.navbar .dropdown-menu li {
	margin: 0px; width: 100%; float: none; display: block;
}
.navbar .dropdown-menu li a:hover {
	background-color: rgb(252, 65, 30);
}
.modals {
	left: 50%; top: 50%; margin-top: -200px; margin-left: -190px; display: none; position: fixed; z-index: 100;
}
.modal__informative {
	background: rgb(242, 242, 242); padding: 35px; border-radius: 5px; border: 1px solid rgb(230, 230, 230); width: 380px; box-shadow: 0px 2px 5px 0px #bebebe;
}
.modal__warning {
	background: rgb(242, 242, 242); padding: 35px; border-radius: 5px; border: 1px solid rgb(230, 230, 230); width: 380px; box-shadow: 0px 2px 5px 0px #bebebe;
}
.modal__informative {
	color: rgb(21, 123, 178);
}
.modal__informative .modal__header--icon {
	background: url("images/304303dd.icon-informative-modal.png") no-repeat center;
}
.modal__warning {
	color: rgb(237, 111, 32);
}
.modal__warning .modal__header--icon {
	background: url("images/fff33e38.icon-warning-modal.png") no-repeat center;
}
.modal__header {
	display: inline-table; position: relative;
}
.modal__header h2 {
	margin: 0px; width: 220px; display: inline-block;
}
.modal__header .modal__header--icon {
	width: 110px; height: 65px; bottom: 0px; display: inline-block; position: absolute;
}
.modal__header .modal__header--close {
	top: -24px; right: -112px; color: rgb(136, 136, 136); font-size: 28px; position: absolute; cursor: pointer;
}
.modal__header .modal__header--close:hover {
	color: rgb(68, 68, 68);
}
.modal__content {
	color: rgb(0, 0, 0); padding-top: 8px;
}
.modal__footer {
	padding-top: 35px;
}
.modal__footer a {
	margin-right: 5px;
}
.modal-open {
	padding-right: 17px;
}
.modal-open .navbar {
	padding-right: 17px;
}
.navbar .body-color-selector > a {
	color: rgb(111, 111, 111);
}
.navbar .body-color-selector-item {
	padding: 0px 10px; height: 50px; box-sizing: border-box; -moz-box-sizing: border-box;
}
.navbar .body-color-selector-color {
	border-radius: 100%; width: 25px; height: 25px; text-indent: -9999px; margin-top: 12px; float: right; background-color: rgb(218, 218, 218);
}

