<!--
  ============LICENSE_START==========================================
  ONAP Portal
  ===================================================================
  Copyright © 2017 AT&T Intellectual Property. All rights reserved.
  ===================================================================
 
  Unless otherwise specified, all software contained herein is licensed
  under the Apache License, Version 2.0 (the “License”);
  you may not use this software except in compliance with the License.
  You may obtain a copy of the License at
 
              http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
 
  Unless otherwise specified, all documentation contained herein is licensed
  under the Creative Commons License, Attribution 4.0 Intl. (the “License”);
  you may not use this documentation except in compliance with the License.
  You may obtain a copy of the License at
 
              https://creativecommons.org/licenses/by/4.0/
 
  Unless required by applicable law or agreed to in writing, documentation
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
 
  ============LICENSE_END============================================
 
  ECOMP is a trademark and service mark of AT&T Intellectual Property.
  -->
<div class="header-position">
    <header class="b2b-header-tabs" b2b-header-responsive>
        <ul class="header__items" role="navigation">
<!-- Menu Icon and name -->
            <li class="header__item icon__item" onclick="window.location = 'applicationsHome'">
                <div ng-include class="profile-detail-extension" src="'app/views/header/header-logo.html'"></div>             
                <span id="portal-title" class="portal-title" ng-bind="ecompTitle"></span>           	
            </li>
<!-- First Level menu -->
            <li b2b-header-menu 
            	id="megaMenu-{{item.text.split(' ').join('-')}}" 
            	class="header__item b2b-headermenu" 
            	ng-repeat="item in megaMenuDataObject" 
            	ng-mousedown="loadFavorites(item.text)"  
            	role="presentation">
            	
                <a href="javascript:void(0);" 
                id="parentmenu-{{item.text.split(' ').join('-')}}-tabs"
                class="menu__item" 
                role="menuitem">{{item.text}}</a>
                
                <div class="header-secondary-wrapper" ng-if="item.active_yn=='Y'" ng-hide="hideMenus">
                    <ul class="header-secondary" role="menu">
<!-- Second Level menu -->
                        <li class="header-subitem" 
                        id="subItem-{{subItem.text.split(' ').join('-')}}"
                        b2b-header-submenu 
                        ng-repeat="i in item.children | orderBy : 'column'" 
                        ng-mousemove="submenuLevelAction(i.text,i.column)" 
                        role="presentation">
           <!-- Favorites -->
                        	<div ng-if="i.text=='Favorites'" >                       		
                        		<a href="javascript:void(0);" class="menu__item" role="menuitem">{{i.text}}</a>                
                        		<i id="favorite-star" data-size="large"  class="icon-star favorites-icon-active"></i>      		
                        		<div class="header-columns-div" ng-show='favoritesWindow' ng-mouseleave="hideFavoritesWindow()" >
                        			<div class="header-tertiary-wrapper" id="header-favorites">
			                            <ul class="header-tertiary" role="menu">
			                                <li role="presentation">
			                                	<div                                                   
                                                     ng-repeat="subItem in favoritesMenuItems"
                                                     ng-show="showFavorites"
                                                     
                                                     id="favoritesMenuItems-{{subItem.text.split(' ').join('-')}}">
                                                    <div class="fav-links">
                                                        <i id="favorite-selector-favorites-list"
                                                           class="icon-star favorites-icon-active"                                                       
                                                           data-ng-click="removeAsFavoriteItem($event, subItem.menuId)"
                                                           ng-mousedown="removeAsFavoriteItem($event, subItem.menuId)">
                                                        </i>
                                                        <a id="favorites-list" aria-label="{{subItem.text}}" ng-click="goToUrl(subItem)">{{subItem.text}}</a>
                                                    </div>
                                                </div>	
                                                	                                	
			                                    <div id="favorites-empty"  class="favorites-window-empty"   ng-show="emptyFavorites">
			                                        <p id="p-no-favs-icon" class="no-fav-icon">
			                                        	<span class="icon-star" ></span>
			                                        </p>
			                                        <p id="p-no-favs" class="largeText">No Favorites</p>
			                                        <p id="p-no-favs-desc"  class="normal">Add your favorite items for quick access.</p>
				                                </div>
			                                </li>
			                            </ul>
		                            </div>
                        		</div>             	
                        	</div>
            <!-- Support or Help -->
                        	<div ng-if="item.text=='Support' || item.text=='Help'" id="second-level-menus-help">                      	
                        		<a id="second-level-menus-{{i.text.split(' ').join('-')}}-help" href="javascript:void(0);" ng-click="goToUrl(i);auditLog(i,'Support')" class="menu__item" role="menuitem">{{i.text| elipsis: 50}}</a>         	
                        	</div>
       		<!-- Others -->
                        	<div ng-if="i.text!='Favorites' && (item.text!='Support' && item.text!='Help')" >
                        		<a href="javascript:void(0);" class="menu__item" role="menuitem">{{i.text| elipsis: 50}}</a>
	                            <div class="header-tertiary-wrapper" >
		                            <ul class="third-level-menu"  role="menu" id="third-level-menus">
<!-- Third Level menu -->	                 
										
			                                <li b2b-header-tertiarymenu ng-repeat="link in i.children | orderBy : 'column'" role="presentation" >
			                                    <i id="level3-star-inactive-{{link.menuId}}" ng-cloak
                                                    class="icon-star favorites-icon-inactive"  data-size="large"
                                                    data-ng-click="setAsFavoriteItem($event, link.menuId)"
                                                    ng-if="link.url.length > 1 && isUrlFavorite(link.menuId)==false">
                                                </i>
                                                <i id="level3-star-active-{{link.menuId}}" ng-cloak
                                                   ng-if="link.url.length > 1 && isUrlFavorite(link.menuId)"
                                                   class="icon-star favorites-icon-active ng-cloak"  data-size="large"
                                                   data-ng-click="removeAsFavoriteItem($event, link.menuId)">
                                                </i>                                              
                                                
			                                    <a class="third-level-title"
                                                          aria-label="{{link.text | elipsis: 50}}"
                                                          ng-click="goToUrl(link);auditLog(link,'application')">{{link.text| elipsis: 50}}</a>
<!-- Fourth Level menu -->
			                                    <div b2b-tertiary-link ng-repeat="title in link.children"  >
			                                    	<i id="level4-star-inactive-{{title.menuId}}" ng-cloak
		                                               class="icon-star favorites-icon-inactive"
		                                               data-ng-click="setAsFavoriteItem($event, title.menuId)"
		                                               ng-if="title.url.length > 1 && isUrlFavorite(title.menuId)==false">
		                                            </i>
		                                            <i id="level4-star-active-{{title.menuId}}" ng-cloak
		                                               class="icon-star favorites-icon-active"
		                                               data-ng-click="removeAsFavoriteItem($event, title.menuId)"
		                                               ng-if="title.url.length > 1 && isUrlFavorite(title.menuId)">
		                                            </i>
			                                    	<a href="javascript:void(0);" class="header-tertiaryitem"  ng-class="{'disabled': title.disabled}" role="menuitem" ng-click="goToUrl(title);auditLog(title,'functional')">{{title.text | elipsis: 50}}</a>                                 	
			                                    </div>
			                                </li>	
			                                
			                                   
		                              
		                                                 
		                            </ul>
	                            </div>
                        	</div>
           
                        </li>                        
                    </ul>
                </div>
            </li>
<!-- Right side of the Menu - User Icon and Notification flag -->
            <div class="login-section">
     <!-- User Icon -->
            <li class="header__item profile" aria-haspopup="true">
				<b2b-flyout>
					<div b2b-flyout-toggler >
						<div class="icon-people-oneperson" id="header-user-icon" tabindex="0" b2b-accessibility-click="13,32" aria-label="notifications" aria-haspopup="true" aria-expanded="{{flyoutOpened}}" role="button"></div>
		          		<div id="login-snippet-text" class="login-snippet-text">{{header.isGuest ? 'Guest' : header.firstName}}</div>                  
					</div>					
		            <b2b-flyout-content horizontal-placement="center" vertical-placement="below">
						<div  ng-controller="loginSnippetCtrl" >
							<div id="reg-header-snippet">
								<div tabindex="0" class="reg-profileDetails" id="reg-profiledetails-id">
									<ul class="reg-Details-table">
										<li>
					                        <div class="reg-userName-table">
					                            <div id="reg-userName-table-row">
					                                <div id="reg-userName-table-cell">
					                                    <h3 >
					                                    {{firstName}} {{lastName}}&nbsp;</h3>
					                                    <span>&nbsp;</span>
					                                </div>
					                            </div>
					                        </div>
					                    </li>
										<li><div class="reg-userEmail-label"><span class="reg-userEmail-label-spn reg-common-label-spn-txt" >Email<span class="visuallyhidden">:
					                    </span></span></div></li>
										<li><div class="reg-userEmail-value"><span class="reg-userEmail-value-spn">
					                        {{loginSnippetEmail}}</span></div></li>
					                    <li>&nbsp;</li>
										<li><div class="reg-userRole-label"><span class="reg-userRole-label-spn reg-common-label-spn-txt">
					                        User Id<span class="visuallyhidden">:</span></span></div></li>
										<li><div class="reg-userRole-value"><span class="reg-userRole-value-spn">
					                        {{loginSnippetUserid}}<span class="visuallyhidden"></span></span></div></li>
					                    <li>&nbsp;</li>
										<li><div class="reg-userLastLogin-label"><span class="reg-userLastLogin-label-spn reg-common-label-spn-txt">
					                        Last login<span class="visuallyhidden">:</span></span></div></li>
										<li><div class="reg-userLastLogin-value"><span class="reg-userLastLogin-value-spn">
					                        {{lastLogin}}<span class="visuallyhidden"></span></span></div></li>
						                <li>&nbsp;</li>
					 					<li>
					               			<div class="display-userAppRoles-label">
					                			<a href="javascript:void(0);"  ng-click="getUserApplicationRoles()"  class="icon-primary-accordion-plus" ng-class="{true: 'icon-primary-accordion-plus', false: 'icon-primary-accordion-minus'}[ !displayUserAppRoles]" >Applications and Roles</a>
					                 		</div>
					                 		<br>
					                        <div class="display-userAppRoles-label display-userAppRoles-label-txt" ng-show="displayUserAppRoles">
					                             <div ng-repeat="ua in userapproles track by  $index">
				                                    <div class="reg-userApp-value">
				                                    	<span class="reg-userApp-value-spn reg-common-label-spn-txt">{{ua.App}}<span class="visuallyhidden">:</span></span>
													</div>							           
					                                <div ng-repeat="role in ua.Roles track by  $index" class="reg-userAppRoles-value" >
					              				 <span  ng-if="role.indexOf('global_')!=-1" id="required" style="color: Red;" visible="false"> *</span>
					                           	<span class="reg-userAppRoles-value-spn">{{role}}</span>
					                                </div>
					                                <br>
					                        	</div>
					                     	</div>
					                	</li>
									</ul>
					                <div ng-include class="profile-detail-extension" src="'app/views/header/header-extension.tpl.html'"></div>				                							
					                <div id="reg-logout-div" class="logout-btn-div">
					                     <button href="javascript:void(0)" id="allLogout" ng-click="allAppsLogout()" class="btn btn-alt btn-small">
											Log out
										</button>
					                </div>
						        </div>
							</div>
						</div>		
		            </b2b-flyout-content>
	       		</b2b-flyout>
            </li> 
    <!-- Notification flag -->
            <li class="header__item notification" aria-haspopup="true" class="notification-li">
            	<b2b-flyout>
            		<div b2b-flyout-toggler class="notification-div">
	            		<div class="notifications-count" ng-hide="notificationCount.count==0" ng-bind="notificationCount.count"></div>      	
						<div id="megamenu-notification-button" class="icon-content-flag megamenu-notification-overrides" class="b2b-flyout-icon" tabindex="0" b2b-accessibility-click="13,32" aria-label="notifications" aria-haspopup="true" aria-expanded="{{flyoutOpened}}" role="button"></div>
		            </div>
		            <b2b-flyout-content horizontal-placement="center" vertical-placement="below">
						<div class="notification-content" ng-controller="notificationCtrl" >
							<div class="ng-scope">
								<div id="notification" class="notificationBox ">
									<div align ="right">
					 					 <a id="notification-history-link" ui-sref="root.notificationHistory" class="notification-history-link-txt"> View All Recent Notifications </a>
									</div>
									<div class="notification-header">
										<div class="notification-common-position">
											<p class="notification-heading">Notifications</p>
										</div>
										<div class="notification-common-space"></div>
									</div>
									<div ng-show="notifications.length==0">
										<div class="notification-main">
											<div class="notification-main-ht">
												<div align="center" class="icon-information notification-info-icon"></div>
											</div>
										<div>
										<p class="notification-text">No New Notifications.</p>
									</div>
									
								</div>
							</div>
							<div class="notification-main" ng-show="notifications.length>0">
								<ul class="notifications-list">
									<li class="item" data-id="5" ng-repeat="item in notifications">
										<div class="icon">
											<span class="important" ng-show="item.priority==2"/>
											<span class="normal" ng-show="item.priority==1"/>
										</div>
											<div class="details" ng-click="showDetailedJsonMessage(item)">
												<span class="title" ng-bind="item.msgSource"></span> <span
													class="title" ng-bind="item.msgHeader"></span> <span
													class="message-body" ng-if="item.msgSource==='EP'"
													ng-bind="item.message"></span> <span class="message-body"
													ng-if="item.msgSource!=='EP'"
													ng-bind="item.message| elipsis: 27"> </span>
												<!-- <span class="date" ng-bind="item.time" ></span> -->
												<mydate>{{item.time | date:'MM/dd/yyyy hh:mm:ss a Z'}}</mydate>

											</div>
										<button type="button" ng-click="deleteNotification($index)" class="button-default button-dismiss js-dismiss">x</button>
									</li>
								</ul>
							</div>
							<div class="notification-footer">
								<div class="notification-links">
									<div class="notification-common-space"></div>
								</div>
							</div>
						</div>					
		            </b2b-flyout-content>
		        </b2b-flyout>
            </li>

            <li class="header__item recommendation" aria-haspopup="true"
							class="recommendation-li">
            <div ng-include class="recommendation-detail-extension" src="'app/views/headerRecommendation/headerRecommendations.tpl.html'"></div> 
            </li>            
            </div>
        </ul>
	</header>
</div>
