<!--
  ============LICENSE_START==========================================
  ONAP Portal
  ===================================================================
  Copyright © 2017 AT&T Intellectual Property. All rights reserved.
  ===================================================================
 
  Unless otherwise specified, all software contained herein is licensed
  under the Apache License, Version 2.0 (the “License”);
  you may not use this software except in compliance with the License.
  You may obtain a copy of the License at
 
              http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
 
  Unless otherwise specified, all documentation contained herein is licensed
  under the Creative Commons License, Attribution 4.0 Intl. (the “License”);
  you may not use this documentation except in compliance with the License.
  You may obtain a copy of the License at
 
              https://creativecommons.org/licenses/by/4.0/
 
  Unless required by applicable law or agreed to in writing, documentation
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
 
  ============LICENSE_END============================================
 
  ECOMP is a trademark and service mark of AT&T Intellectual Property.
  -->
<div class="w-ecomp-contactUs-home">
	<div class="contactUs-home-container" id="page-content">
		<div class="admins-page-main">
			<div id="title" class="w-ecomp-main-view-title">
			<h1 class="heading-page">Contact Us</h1>
			<button id="edit-button-contact-us" ng-if="isAdminPortalAdmin == true" class="btn btn-alt btn-small" ng-click="contact.editContactUsModalPopup()"><i class="icon-people-userbookmark" aria-hidden="true"></i>&nbsp;Edit Contact Us</button>
			
			<div ng-include src="'app/views/support/contact-us/contact-us.aux.html'"></div>
			
		<br/> 
		<!-- Function Categories -->		
		<div id="appFunctionInfo" class="w-ecomp-main-view-title"> Application Functions
				<div b2b-table table-data="contact.functionalTableData" class="b2b-table-div">
						<table>
							<thead b2b-table-row type="header">
								<tr>
								  <th id="th-functionalItem-0" b2b-table-header sortable="false">Category</th>	                     
			                      <th id="th-functionalItem-1" b2b-table-header sortable="false">ECOMP Functions</th>
			                      <th id="th-functionalItem-2" b2b-table-header sortable="false">ECOMP Application</th>
			                 	  <!-- <th id="th-functionalItem-3" b2b-table-header >Contact</th> --> 
							  </tr>
							</thead>
							<!--  Use track-by="UNIQUE KEY HERE" or leave out if no unique keys in data  -->
							<tbody b2b-table-row type="body"
							type="body"  
		                 	class="table-body" 
		                 	track-by="$index"
		                 	row-repeat="rowData in contact.functionalTableData">
							<tr id="tr-rowData" ng-click="">
			                 <td b2b-table-body>
			                    <div id="functional-item-td-category" 
	                                ng-show="$index == 0 || contact.functionalTableData[$index-1].category != rowData.category"
			                    	ng-bind="rowData.category">
			                    </div>
			                 </td>
			                 <td b2b-table-body>
			                    <div id="functional-item-td-functions"  ng-bind="rowData.functions"></div>
			                 </td>		                 
			                 <td b2b-table-body>
			                   <a ng-click="contact.goToSection(rowData.app_Id, $index);">{{rowData.app_Name}}</a>	
			                 </td>			                 
			               </tr>
							</tbody>
						</table>
					</div>
	</div>
		<br/>
		<!-- Display applicationInfo panels -->
		<div id="allAppInfo">
			<div class="w-ecomp-main-view-title"> All Applications		
			</div>		
			<div class="contactUs-general-div">
				<div class="contact-us-table">
				<div class="c-ecomp-portal-abs-table default contactUs-table-ht">
					<div ng-repeat="rowData in contact.appTable"
						class="contactUs-collapsible-panel">
						<div id="{{rowData.app_Id}}" class="contactUs-table-ht" class="contactUs-panel-header" ng-click="rowData.showFlag = !rowData.showFlag" >
							<span id="appId{{$index}}" ng-bind="rowData.app_name" class="contactUs-table-spn"></span>
							
							<span class="contactUs-table-title-sp">
						 		<span ng-show="rowData.showFlag" title="Collapse app contact section" class="icon-controls-upPRIMARY"></span>
								<span ng-hide="rowData.showFlag" title="Expand app contact section" class="icon-controls-down"></span>
							</span>
						</div>
				
						<div id="collapse{{$index}}" ng-show="rowData.showFlag"
							class="contactUs-collapsible-panel">
							<div class="contactUs-txt" ng-hide="rowData.contact_name || rowData.contact_email || rowData.url_Info || rowData.desc"> 
								<span class="contactUs-collapsible-panel-spn"> No application information is available. Please use the links above to contact the ECOMP Portal team. </span>
							</div>
		 					<div class="contactUs-txt" ng-show="rowData.contact_name || rowData.contact_email || rowData.url_Info || rowData.desc"> 
							  <table class="contactUs-main-table">
								<tr>
									<td class="contactUs-panel-labels contactUs-main-panel-labels">Contact:</td>
									<td class="contactUs-panel-labels contactUs-main-panel-value">{{rowData.contact_name}}</td>
								</tr>
								<tr>
									<td class="contactUs-panel-labels">Email:</td>
									<td class="contactUs-panel-labels"><a ng-href="mailto:{{rowData.contact_email}}" target="_top">{{rowData.contact_email}}</a></td>
								</tr>
								<tr>
									<td class="contactUs-panel-labels">Info URL:</td>
									<td class="contactUs-panel-labels"><a ng-href="{{rowData.url_Info}}" target="_blank">{{rowData.url_Info}}</a></td>
								</tr>
								<tr>
									<td class="contactUs-panel-labels">Description:</td>
									<td class="contactUs-panel-labels">{{rowData.desc}}</td>
								</tr>
								<tr>
									<td class="contactUs-panel-labels">Get access:</td>
									<td class="contactUs-panel-labels"><a href="" ng-click="contact.goGetAccess(rowData.app_name);">Click for application and role information</a></td>
								</tr>
							  </table>
							</div>				
						</div>
				
					</div>
				</div>
				</div>
			</div>
		</div>

	</div>
</div>
</div>
