.new-admin-modal {
  height: 430px;
  margin-left: 20px;
  height: 350px;

  .search-users {
  }

  .admin-app-roles {
    .title {
      //.n18r;
      .dGray18r;  
      border-bottom: @blue-active 3px solid;

    }

    .app-roles-main {
      margin-top: 16px;
      .app-roles-main-title {
        .dGray14r;
        margin-bottom: 8px;
        .left {
          display: inline-block;
        }
        .right {
          display: inline-block;
          color: @blue-active;
          float: right;
          cursor: pointer;
        }
      }

      .select-input{
        width: 460px;
      }

      .new-administrated-app {
        height: 30px;
        line-height: 30px;

        border: 1px solid @portalGray;
        margin-bottom: 8px;
        border-radius: 2px;
        padding-left: 6px;
        padding-top: 0;
        width: 100%;
        .dGray14r;
      }

      .admin-roles-list {
        height: 185px;
        overflow-y: auto;
      }

      .administrated-application {
        width: 460px;
        height: 30px;
        border: 1px solid @portalGray;
        margin-bottom: 8px;
        border-radius: 2px;
        padding: 6px;
        .dGray14r;
        display: inline-block;

      }

      .delete-application {
        .ico_trash_default;
        display: inline-block;
        vertical-align: 4px;
        cursor: pointer;
        position: relative;
        top: 6px;
        color: transparent;
        margin-left: 8px;
      }
      
      .awd-select-list {
		max-height: 205px;
		}

    }

  }
  
  .adminForm-title {
  	color: #5a5a5a;
  	font-size: 18px;
  	border-bottom: #067ab4 3px solid;
  	margin-left:0px;
  }
  
  .adminForm-name-property-label {
  	margin-bottom: 5px;    
  	color: #5a5a5a;       
  	font-size: 14px;    
  	font-weight: bold;    
  	padding-top: 20px;
  }
 
  .adminForm-requiredId {
  	color: red;
  }
  
  .adminForm-name-property-required {
   		color: #cf2a2a; 
   		font-size: 10px;
   }
   
   .adminForm-property-required-small {
   		position: absolute;
   }
   
   .adminForm-code-property-label {
	  	margin-bottom: 5px;    
	  	color: #5a5a5a;       
	  	font-size: 14px;    
	  	font-weight: bold;    
	  	padding-top: 20px;
  }
  
  .adminForm-code-property-input {
	  	display: inline-block; 
	  	width: 338px; 
	  	//height: 40px;
  }
  
  .adminForm-code-property-required {
   		color: #cf2a2a; 
   		font-size: 10px;
   }
   
}

