.searchLiHeader {
font-weight: bold; 
color: #0574ac; 
font-size: 16px;
padding-bottom: 10px;
line-height: 1.5;
font-family: Omnes-ECOMP-W02,Arial;

}

.searchLiItems{
cursor: pointer;
font-weight: normal; 
font-size: 12px;
color: #444444;
font-family: Omnes-ECOMP-W02,Arial;
}

.searchUl {
list-style: none; 
border-bottom: 1px solid #bbb; 
padding-bottom: 20px;
}

#editWidgetsContent {
    height: 300px;
    width: 1770px;
}

#editWidgetsContent .scroll-viewport {
    height: 300px;
    width: 1770px;
}

.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}

.partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
  
  .add-widget-field{
  	width:250px;
	display: inline-table;
	margin:10px;
  	
  }
  .uib-datepicker-popup {
  	th {
  		vertical-align: middle !important;
  	}
  }
  
  .input-text-area {
	  font-style: italic;
	  padding: 7px 10px;
	  width: 250px !important;
	  display: inline-block;
	  position: relative;
	  margin-bottom: 10px;
	  border-radius: 6px;
	  border: 1px solid #d8d8d8;
	  height: 32px;
	  border-color: slategrey !important;
  }
  .input-inline-edit-text {
	  font-style: italic;
	  padding: 7px 10px;
	  display: inline-block;
	  position: relative;
	  margin-bottom: 10px;
	  border-radius: 6px;
	  border: 1px solid #d8d8d8;
	  height: 32px;
	  border-color: slategrey !important;
	  width:100%;
  }
  .heading1-txt {
	   margin-top: 10px; 
	   margin-bottom: 10px;
  }
  .manage-widgets-txt {
  	margin-top: 25px;
  }
  .widget-table-control {
  	margin:30px;
  }
  .widget-table {
  	height:300px;
  }
  .widget-field {
  	margin-top: 15px; 
  	margin-left: -80px;
  }
  .widget-add {
  	font-size:18px;
  }
  .widget-type-txt-area {
  	margin-top: 0px; 
  	margin-bottom: 0px; 
  	height: 150px;
  }
  .widget-button-height {
  	height:50px;
  }
  .widget-button {
  	float:right; 
  	margin-top:20px;
  }
   .widget-close-button {
   	float:right;
  } 
  
  .btn-calendar-icon {
   position: relative;
   width: 10px;
   right:25px;
   top:0px;
}
.dialog-control{
bottom:30px;
}
input[type="text"]:focus {
    z-index: 0;
}

 .get-access-table{
  height:500px;
  overflow:auto;
  }
  
  