<button type="button" class="btn btn-primary" href="javascript:void(0)"
[ngStyle]="{'right': isOpen ? '65px' : '-18px' }" (click)="toggleSidebar()">
  <span id="user-chevron-down" class="icon-controls-down" [hidden]="!isOpen">Close</span>
  <span id="user-chevron-up" class="icon-controls-upPRIMARY" [hidden]="isOpen"><span class="right-menu-button"><i
        class="icon ion-md-arrow-dropup"></i> Users</span></span>
</button>
<nav [ngStyle]="{'right': isOpen ? '18px' : '-75px' }" class="usb-item usb-item-vertical usb-item-right" id="usb-item-s2">
  <h3>Online Users</h3>
  <div *ngFor="let user of userList" style="font-size: 10px;">
    <a [href]="user.linkQ"><img class="activeUserIcon" [src]="user.linkPic" alt="User Link"></a>
    <div class="userId-txt">{{user.userId}}</div>
  </div>
</nav>